.questions {
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1295px;
    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__left {
    position: relative;
    z-index: 2;
    width: 40%;
    @media (max-width: 1110px) {
      width: 50%;
    }
    @media (max-width: 800px) {
      width: 60%;
    }
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  &__descr {
    margin-bottom: 80px;
    @media (max-width: 991px) {
      margin-bottom: 50px;
    }
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: var(--main);
    @media (max-width: 600px) {
      font-size: 20px;
      line-height: 28px;
    }
    & span {
      font-weight: 500;
    }

    &_color {
      color: #0A63E8;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
  }

  &__button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--white);
    width: 90%;
    background-color: #0A63E8;
    border-radius: 8px;
    padding: 17px 5px;
    transition: color .2s ease-in-out,background-color .2s ease-in-out;
    @media (max-width: 1110px) {
      width: 80%;
    }
    
    @media (max-width: 991px) {
      padding: 15px 5px;
    }
    @media (max-width: 650px) {
      width: auto;
      padding: 15px 57px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--white);
        color: var(--hover);
      }
    }

    &:active {
      background-color: var(--white);
      color: var(--active);
    }
  }

  &__images {
    position: relative;
    z-index: 2;
    width: 40%;
    @media (max-width: 1110px) {
      width: 38%;
    }
    @media (max-width: 650px) {
      display: none;
    }
  }

  &__image-1 {
    width: 320px;
    height: 533px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__image-2 {
    position: absolute;
    top: 60%;
    right: 0;
    max-width: 363px;
    height: 363px;
    transform: translateY(-50%);
    @media (max-width: 1110px) {
      width: 200px;
      height: 200px;
      top: auto;
      bottom: 0;
      transform: translateY(0);
    }
    @media (max-width: 900px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(81.99deg, rgba(87, 72, 229, 0.3) 42.35%, rgba(52, 85, 228, 0.3) 65.15%, rgba(254, 64, 74, 0.3) 95.74%);
    filter: blur(246px);
  }
}