.block-rek {
  &:not(:last-child) {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__items-top {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 1440px) {
      gap: 20px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr .4fr;
      margin-bottom: 20px;
    }

    @media (max-width: 600px) {
      margin-bottom: 10px;
      grid-template-columns: .7fr 1fr;
      gap: 10px;
    }
  }

  &__column {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 1440px) {
      gap: 20px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &_2 {
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
    }

    &_3 {
      display: none;

      @media (max-width: 1200px) {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border-color .2s ease-in-out;

    // @media (max-width: 991px) {
    //   border-color: var(--gold);
    // }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--gold);

        & .block-rek__link {
          opacity: 1;
          visibility: visible;
        }

        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, .2);
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

      // @media (max-width: 991px) {
      //   opacity: 1;
      //   visibility: visible;
      // }
    }

    &_1 {
      height: 457px;

      @media (max-width: 991px) {
        height: 265px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 145px;
      }
    }

    &_2 {
      height: 457px;

      @media (max-width: 991px) {
        height: 265px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 145px;
      }
    }

    &_3 {
      height: 213.5px;

      @media (max-width: 991px) {
        height: 122px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 93px;
      }
    }

    &_4 {
      height: 213.5px;

      @media (max-width: 991px) {
        height: 189px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 93px;
      }
    }

    &_5 {
      height: 213.5px;

      @media (max-width: 991px) {
        height: 122px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 93px;
      }
    }

    &_6 {
      height: 213.5px;

      @media (max-width: 991px) {
        height: 189px;
        min-height: auto;
      }

      @media (max-width: 600px) {
        height: 171px;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

    // @media (max-width: 991px) {
    //   opacity: 1;
    //   visibility: visible;
    // }

    & span {
      display: inline-block;
      background-color: var(--gold);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;
      color: var(--white);
      border-radius: 6px;
      padding: 10px 20px;

      @media (max-width: 991px) {
        font-size: 14px;
        padding: 8px 16px;
      }

      @media (max-width: 600px) {
        font-size: 12px;
        padding: 6px 14px;
      }
    }
  }
}