.header {
  position: relative;
  z-index: 100;
  padding-top: 15px;

  @media (max-width: 991px) {
    padding-top: 10px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // &_log {
    //   display: none;
    // }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 93%;
    gap: 15px;

    @media (max-width: 1250px) {
      position: absolute;
      top: 100%;
      left: 20px;
      width: 727px;
      flex: auto;
      box-shadow: 0px 10px 20px rgba(39, 46, 69, 0.1);
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      background-color: var(--white);
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
      gap: 0;
      z-index: 10;
    }
    @media (max-width: 767px) {
      width: auto;
    }
    @media (max-width: 760px) {
      width: 94%;
      flex-direction: column;
      border-radius: 20px;
    }
    @media (max-width: 620px) {
      width: 92%;
    }
    @media (max-width: 420px) {
      width: 90%;
    }
    @media (max-width: 359px) {
      // width: 94%;
      left: 10px;
    }

    &_log {
      @media (max-width: 1615px) {
        position: absolute;
        top: 100%;
        left: 20px;
        width: auto;
        box-shadow: 0px 10px 20px rgba(39, 46, 69, 0.1);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
        gap: 0;
        z-index: 2;
      }

      @media (max-width: 760px) {
        width: 321px;
        flex-direction: column;
        border-radius: 20px;
      }

      @media (max-width: 359px) {
        width: 94%;
        left: 10px;
      }
    }
  }

  &__help {
    position: relative;
    margin-top: 146px;
    display: none;

    @media (max-width: 760px) {
      display: block;
    }

    &_margin {
      margin-top: 66px;
    }
  }

  &__help-background {
    position: absolute;
    top: 95%;
    left: 50%;
    display: block;
    width: 224px;
    height: 54px;
    transform: translateX(-50%) scaleY(1.3);
    z-index: 1;
  }

  &__help-link {
    position: relative;
    display: inline-flex;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: var(--white);
    padding: 6px 12px;
    background: var(--gold);
    border-radius: 6px;

    & span {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 10px;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__wrapper-logo {
    position: relative;
    display: none;
    border-radius: 30px 30px 0 0;
    flex: 0 0 323px;
    height: 83px;

    @media (max-width: 1440px) {
      flex: 0 0 290px;
      height: 70px;
    }

    @media (max-width: 1250px) {
      display: block;
      margin-left: 55px;
    }

    @media (max-width: 991px) {
      flex: 0 0 200px;
      height: 60px;
    }

    @media (max-width: 600px) {
      flex: 0 0 151px;
      height: 53px;
    }

    @media (max-width: 400px) {
      margin-left: auto;
      margin-right: 15px;
    }

    @media (max-width: 375px) {
      margin-right: 5px;
    }

    &_menu {
      display: block;

      @media (max-width: 1250px) {
        display: none;
      }

      @media (max-width: 600px) {}
    }

    &_log-none {
      @media (max-width: 1615px) {
        display: none;
      }
    }

    &_margin {
      margin-left: auto;

      @media (max-width: 1615px) {
        margin-left: 200px;
      }

      @media (max-width: 760px) {
        margin-left: 50px;
      }

      @media (max-width: 400px) {
        margin-left: auto;
      }
    }

    &_log {
      @media (max-width: 1615px) {
        display: block;
      }
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 323px;
      height: 91px;
      z-index: 1;

      @media (max-width: 1440px) {
        width: 290px;
        height: 71px;
      }

      @media (max-width: 991px) {
        width: 200px;
        height: 60px;
        transform: scale(1.1, 1.3);
      }

      @media (max-width: 600px) {
        width: 151px;
        height: 53px;
        transform: scale(1.15, 1.55);
      }
    }
  }

  &__logo {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 147px;
      height: 42px;
      object-fit: contain;
      object-position: center;
      margin: 0 auto;

      @media (max-width: 1440px) {
        width: 127px;
        height: 35px;
      }

      @media (max-width: 991px) {
        width: 107px;
        height: 30px;
      }

      @media (max-width: 600px) {
        width: 99px;
        height: 28px;
      }
    }
  }

  &__log {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    padding: 13px 20px;
    background-color: var(--grey_light);
    border-radius: 6px;
    margin-left: 40px;
    transition: background-color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: #424457;
      }
    }

    &:active {
      background-color: #C5C6D3;
      transition-duration: .1s;
    }

    @media (max-width: 1440px) {
      font-size: 15px;
      margin-left: 35px;
    }

    @media (max-width: 991px) {
      font-size: 14px;
      padding: 11px 20px 10px 20px;
    }

    @media (max-width: 600px) {
      padding: 8.5px 16px;
      margin-left: 8px;
    }

    @media (max-width: 359px) {
      margin-left: 5px;
    }
  }
}


.nav {
  @media (max-width: 760px) {
    width: 100%;
  }

  &_log {
    @media (max-width: 1615px) {
      & .nav__list {
        @media (max-width: 1615px) {
          gap: 0;
        }
      }

      & .nav__item {

        &_blue {
          @media (max-width: 1615px) {
            background-color: var(--blue);
            border-radius: 10px 0px 0 0;
          }

          @media (max-width: 760px) {
            border-radius: 20px 20px 0px 0px;
          }

        }

        &_gold {
          @media (max-width: 1615px) {
            background-color: var(--gold);
            border-radius: 0px 10px 0px 0px;
          }

          @media (max-width: 760px) {
            border-radius: 0px 0px 20px 20px;
          }
        }

        &_grey {
          @media (max-width: 1615px) {
            background-color: var(--grey_light);
          }
        }

        &_purple {
          @media (max-width: 1615px) {
            background-color: var(--purple);
          }
        }

        &_green {
          @media (max-width: 1615px) {
            background-color: var(--green);
          }
        }
      }

      & .nav__link {
        padding: 14px 10px;
        color: var(--white);

        & svg {
          fill: var(--white);
        }

        @media (any-hover: hover) {
          &:hover {
            color: #EFB75D;

            @media (max-width: 1615px) {
              color: #000000;
            }

            & svg {
              fill: #EFB75D;

              @media (max-width: 1615px) {
                fill: #000000;
              }
            }
          }
        }

        &:active {
          color: #F9E2BE;
          transition-duration: .1s;

          @media (max-width: 1615px) {
            color: #000000;
          }

          & svg {
            fill: #F9E2BE;

            @media (max-width: 1615px) {
              fill: #000000;
            }
          }
        }
      }

      & .accordion-clicker {
        @media (max-width: 1615px) {
          position: static;
        }
      }

      & .nav__accordion-content {
        @media (max-width: 1615px) {
          align-items: center;
          gap: 50px;
          min-width: auto;
          width: 100%;
          top: 100%;
          border-top: 0;
          border-radius: 0 0 10px 10px;
        }

        @media (max-width: 760px) {
          padding: 0;
          border-radius: 0;
        }
      }

      & .accordion-clicker-active {
        & .nav__accordion-content {

          @media (max-width: 1615px) {
            display: flex;
          }

          @media (max-width: 760px) {
            position: static;
            display: block;
          }
        }
      }

      & .nav__accordion-link {
        &:not(:last-child) {
          @media (max-width: 1615px) {
            margin-bottom: 0;
          }

          @media (max-width: 760px) {
            border-bottom: 1px solid #F1F1F1;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;

    @media (max-width: 1440px) {
      column-gap: 30px;
    }

    @media (max-width: 1250px) {
      gap: 0;
    }

    @media (max-width: 760px) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__item {
    @media (max-width: 760px) {
      width: 100%;
    }

    &_blue {
      @media (max-width: 1250px) {
        background-color: var(--blue);
        border-radius: 10px 0px 0 0;
      }

      @media (max-width: 760px) {
        border-radius: 20px 20px 0px 0px;
      }

    }

    &_gold {
      @media (max-width: 1250px) {
        background-color: var(--gold);
        border-radius: 0px 10px 0px 0px;
      }

      @media (max-width: 760px) {
        border-radius: 0px 0px 20px 20px;
      }
    }

    &_grey {
      @media (max-width: 1250px) {
        background-color: var(--grey_light);
      }
    }

    &_purple {
      @media (max-width: 1250px) {
        background-color: var(--purple);
      }
    }

    &_green {
      @media (max-width: 1250px) {
        background-color: var(--green);
      }
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--main);
    transition: color .2s ease-in-out;
    white-space: nowrap;

    @media (max-width: 1440px) {
      font-size: 15px;
    }

    @media (max-width: 1250px) {
      font-size: 14px;
      padding: 14px 10px;
      color: var(--white);
    }

    & svg {
      display: inline-block;
      margin-left: 5px;
      fill: #AAB4C1;
      transition: fill .2s ease-in-out;

      @media (max-width: 1250px) {
        fill: var(--white);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: #EFB75D;

        @media (max-width: 1250px) {
          color: #000000;
        }

        & svg {
          fill: #EFB75D;

          @media (max-width: 1250px) {
            fill: #000000;
          }
        }
      }
    }

    &:active {
      color: #F9E2BE;
      transition-duration: .1s;

      @media (max-width: 1250px) {
        color: #000000;
      }

      & svg {
        fill: #F9E2BE;

        @media (max-width: 1250px) {
          fill: #000000;
        }
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 57px;
  height: 21px;
  background-color: transparent;
  flex-shrink: 0;

  @media (max-width: 1250px) {
    display: block;
  }

  @media (max-width: 600px) {
    width: 47px;
    height: 18px;
  }

  &_log {
    @media (max-width: 1615px) {
      display: block;
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80%;
    height: 3px;
    background-color: var(--grey_light);
    transform: translateY(-50%);
    border-radius: 5px;
    transition: transform .2s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: var(--grey_light);
    border-radius: 5px;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--grey_light);
    border-radius: 5px;
    transition: transform .2s ease-in-out, width .2s ease-in-out;
  }
}

.menu-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.burger-active {
  & .burger__line {
    transform: translateX(-300%) translateY(-50%);
  }

  &::before {
    width: 60%;
    transform: translateY(10px) rotate(45deg);

    @media (max-width: 600px) {
      transform: translateY(9px) rotate(45deg);
    }
  }

  &::after {
    width: 60%;
    transform: translateY(-8px) rotate(-45deg);

    @media (max-width: 600px) {
      transform: translateY(-5.5px) rotate(-45deg);
    }
  }
}

.accordion-clicker {
  position: relative;

  @media (max-width: 1250px) {
    position: static;
    width: 113px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 760px) {
    position: relative;
  }
}

.nav__accordion-content {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  min-width: 180px;
  transition: height .25s ease;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid #AAB4C1;
  box-shadow: 0px 10px 20px rgba(39, 46, 69, 0.1);
  border-radius: 10px;
  z-index: 10;

  @media (max-width: 1250px) {
    align-items: center;
    gap: 50px;
    min-width: auto;
    width: 100%;
    top: 100%;
    border-top: 0;
    border-radius: 0 0 10px 10px;
  }

  @media (max-width: 760px) {
    padding: 0;
    border-radius: 0;
  }

  @media (max-width: 600px) {}
}

.nav__accordion-link {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--main);
  transition: color .2s ease-in-out;

  @media (max-width: 1440px) {
    font-size: 15px;
  }

  @media (max-width: 1250px) {
    font-size: 14px;
  }

  @media (max-width: 760px) {
    padding: 10px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #EFB75D;
    }
  }

  &:active {
    color: #EFB75D;
    transition-duration: .1s;
  }

  &:not(:last-child) {
    margin-bottom: 15px;

    @media (max-width: 1250px) {
      margin-bottom: 0;
    }

    @media (max-width: 760px) {
      border-bottom: 1px solid #F1F1F1;
    }
  }
}

.accordion-clicker-active {
  & .nav__link {
    color: #EFB75D;

    & svg {
      fill: #EFB75D;
    }
  }

  & .nav__accordion-content {
    display: block;
    animation-name: accordion;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;

    @media (max-width: 1250px) {
      display: flex;
    }

    @media (max-width: 760px) {
      position: static;
      display: block;
    }
  }

}

.profile {
  display: flex;
  align-items: center;
  margin-left: 30px;

  @media (max-width: 991px) {
    margin-left: 10px;
  }

  @media (max-width: 380px) {
    margin-left: 5px;
  }

  &__items {
    display: flex;
    align-items: center;

    @media (max-width: 760px) {
      justify-content: center;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: 1680px) {
        margin-right: 10px;
      }

      @media (max-width: 991px) {
        margin-right: 27px;
      }

      @media (max-width: 760px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    position: relative;
    transition: opacity .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      opacity: .8;
      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: 1680px) {
        margin-right: 10px;
      }
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 32px;
    height: 32px;

    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 600px) {}

    & a {
      position: relative;

      display: block;
      width: 100%;
      height: 100%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }

      & svg {
        fill: #6E7191;
        transition: fill .2s ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          & svg {
            fill: #EFB75D;
          }
        }
      }

      &:active {
        & svg {
          fill: #F9E2BE;
        }

        transition-duration: .1s;
      }
    }

  }

  &__value {
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 1;
    text-align: center;
    color: var(--white);

    @media (max-width: 991px) {
      top: 42%;
      left: 49%;
      font-size: 8px;
    }

    @media (max-width: 760px) {
      left: 51%;
    }

    &_left {
      left: 53%;
    }

    &_change {
      font-size: 10px;
      font-weight: 600;
      background-color: var(--gold);
      border-radius: 2px;
      padding: 3px 2px;
      left: auto;
      right: -10px;
      top: -8px;
      transform: translate(0, 0);

      @media (max-width: 991px) {
        font-size: 9px;
        top: -6px;
        padding-bottom: 1px;
        padding-left: 1px;
      }
    }

    &_change-background {
      background-color: var(--green);
      right: 0;
    }
  }


  &__avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;

    @media (max-width: 991px) {}

    @media (max-width: 600px) {
      width: 31px;
      height: 31px;
    }

    @media (any-hover: hover) {
      &:hover {
        & .profile__arrow {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 1680px) {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    position: relative;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-color: transparent;

    @media (max-width: 600px) {
      width: 22px;
      height: 22px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__arrow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

    @media (max-width: 991px) {
      width: 20px;
      height: 20px;
      padding: 3px;
    }

    @media (max-width: 600px) {
      width: 16px;
      height: 16px;
      padding: 1px 1px 3px 1px;
    }

    & img {
      display: block;
      width: 10px;
      height: 6px;
      object-fit: contain;
      object-position: center;

      @media (max-width: 600px) {
        width: 8px;
        height: 4px;
      }
    }
  }

  &__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--grey_light);
    border-radius: 6px;
    transition: background-color .2s ease-in-out;

    @media (max-width: 1680px) {
      width: 38px;
      height: 38px;
    }

    @media (max-width: 991px) {
      width: 44px;
      height: 40px;
    }

    @media (max-width: 600px) {
      width: 36px;
      height: 31px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #EFB75D;
      }
    }

    &:active {
      background-color: #F9E2BE;
      transition-duration: .1s;
    }

    & img {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;

      @media (max-width: 600px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.profile-avatar-active {
  & .profile__arrow {
    opacity: 1;
    visibility: visible;
  }
}

.profile-menu {
  position: absolute;
  top: 93%;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
  z-index: 10;

  @media (max-width: 1260px) {
    margin-left: 20px;
  }

  @media (max-width: 760px) {
    margin-left: 0;
    width: 321px;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--white);
    border-radius: 30px;
    padding-top: 25px;
    box-shadow: 0px 10px 20px rgb(39 46 69 / 10%);
  }

  @media (max-width: 360px) {
    width: 94%;
    right: 10px;
  }

  &__list {
    width: 100%;
    display: flex;

    @media (max-width: 760px) {
      flex-direction: column-reverse;

      &:not(:last-child) {
        margin-bottom: 66px;
      }
    }
  }

  &__item {
    position: relative;
    min-width: 306px;
    overflow: hidden;
    border-bottom: 1px solid #AAB4C1;

    @media (max-width: 1260px) {
      min-width: 182px;
    }

    @media (max-width: 760px) {
      border: 0;
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
      border-left: 1px solid #AAB4C1;

      @media (max-width: 760px) {
        border: 0;
        border-radius: 0 0 10px 10px;
      }
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
      border-right: 1px solid #AAB4C1;

      @media (max-width: 760px) {
        border: 0;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    color: var(--white);
    transition: color .2s ease-in-out, border-radius .2s ease-in-out;
    padding: 15px 20px 10px 20px;

    &_blue {
      background-color: var(--blue);
      border-radius: 10px 0 0 0;

      @media (max-width: 760px) {
        border-radius: 0 0 19px 19px;
      }
    }

    &_purple {
      background-color: var(--purple);
    }

    &_green {
      background-color: var(--green);
    }

    &_gold {
      background-color: var(--gold);
      border-radius: 0 10px 0 0;

      @media (max-width: 760px) {
        border-radius: 19px 19px 0 0;
      }
    }

    @media (max-width: 1440px) {
      font-size: 15px;
    }

    @media (max-width: 1250px) {
      font-size: 14px;
    }

    @media (max-width: 991px) {
      padding: 17px 20px 16px 20px;
    }

    @media (max-width: 760px) {
      padding: 14px 10px;
      width: 100%;
    }

    & svg {
      display: none;
      fill: var(--white);
      margin-left: 5px;
      transition: fill .2s ease-in-out;

      @media (max-width: 760px) {
        display: block;
      }

    }
  }

  &__accordion-content {
    width: 100%;
    height: 100%;
    // min-height: 182px;
    padding: 20px;
    background-color: var(--white);
    z-index: 10;

    @media (max-width: 1250px) {
      align-items: center;
      gap: 50px;
      min-width: auto;
      width: 100%;
      top: 100%;
      border-top: 0;
      border-radius: 0 0 10px 10px;
    }

    @media (max-width: 991px) {
      padding: 15px 15px 20px 15px;
    }

    @media (max-width: 760px) {
      padding: 0;
      border-radius: 0;
      display: none;
      position: absolute;
      top: 150%;
      left: 0;
      min-height: auto;
    }
  }

  &__accordion-link {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main);
    transition: color .2s ease-in-out;

    @media (max-width: 1440px) {
      font-size: 15px;
    }

    @media (max-width: 1250px) {
      font-size: 14px;
    }

    @media (max-width: 760px) {
      padding: 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #EFB75D;
      }
    }

    &:active {
      color: #EFB75D;
      transition-duration: .1s;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 760px) {
        border-bottom: 1px solid #F1F1F1;
        margin-bottom: 0;
      }
    }
  }
}

.profile-active .profile-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.profile-active .profile__arrow {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 760px) {
  .profile-menu-item-active .profile-menu__accordion-content {
    display: block;
    position: static;
    animation-name: accordion;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }
}


.profile-menu-item-active .profile-menu__button_blue {
  border-radius: 0;
}

@keyframes accordion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}