.contacts {
  margin-bottom: 71px;
  &__links {
    display: flex;
    margin-bottom: 32px;
    margin-left: -4px;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
    & .contacts__link {
      &::before {
        content: "/";
        position: absolute;
        top: 3.3px;
        right: -7px;
      }
    }
  }
  &__link {
    position: relative;
    font-family: "OpenSans400";
    font-size: 14px;
    line-height: 100%;
    color: var(--color-gray);
    padding: 0 4px 2px 4px;
    transition: all .2s ease-in-out;
    &:hover {
      color: var(--color-purple);
    }
    &:focus-visible {
      color: var(--color-dark-purple);
      background-color: var(--color-purple-hover);
    }
    &:active {
      color: var(--color-dark-purple);
    }
  }
  &__title {
    margin-bottom: 13px;
  }
  &__search {
    margin-bottom: 32px;
  }
  &__input {
    width: 48.7%;
    height: 52px;
    font-family: "OpenSans400";
    font-size: 16px;
    line-height: 40px;
    color: var(--color-black);
    background-color: #f7f7f7;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 20px 0 18px;
    margin-right: 28px;
    transition: all .2s ease-in-out;
    &::placeholder {
      font-family: "OpenSans400";
      font-size: 16px;
      line-height: 40px;
      color: var(--color-gray);
    }
    &:hover {
      background-color: #eaeaea;
    }
    &:focus-visible {
      border-color: var(--color-purple);
    }
  }
  &__btn {
    font-family: "OpenSans600";
    margin-top: 4px;
    padding: 16px 33px;
    transition: all .2s ease-in-out;
    &:hover {
      background-color: var(--color-purple-hover);
    }
    &:focus-visible {
      border-color: var(--color-dark-purple);
      background-color: var(--color-purple-hover);
    }
    &:active {
      background-color: var(--color-dark-purple);
    }
  }
  &__map {
    width: 100%;
    min-height: 510px;
  }
}

.link-active {
  color: var(--color-dark-purple);
  &:hover {
    color: var(--color-dark-purple);
  }
}

[class*="ymaps-2-1-79-copyrights-pane"] {
  display: none;
}


[id*="id_1639"] {
  width: 343px !important;
}

.ymaps-2-1-79-map .ymaps-2-1-79-balloon {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0;
  left: -147px !important;
}
.ymaps-2-1-79-balloon {
  border-radius: 10px;
}

.ymaps-2-1-79-balloon_to_top .ymaps-2-1-79-balloon__tail {
  left: 45%;
  transform: rotate(-45deg) translateX(-50%);
}

.ymaps-2-1-79-balloon__layout {
  border-radius: 10px;
}

.ymaps-2-1-79-map .ymaps-2-1-79-balloon .ymaps-2-1-79-balloon__content {
  overflow: visible;
  padding: 0;
  margin-right: 0 ;
}

.ymaps-2-1-79-balloon__close {
  margin-top: 18px;
  margin-right: 16px;
}

.ymaps-2-1-79-map .ymaps-2-1-79-balloon__close .ymaps-2-1-79-balloon__close-button {
  position: relative;
  width: 12px;
  height: 12px;
  background: none;
  opacity: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--color-gray);
    border-right: 2px solid var(--color-gray);
    transform: rotate(135deg);
    transition: all .2s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    width: 6px;
    height: 6px;
    border-top: 2px solid var(--color-gray);
    border-left: 2px solid var(--color-gray);
    transform: rotate(135deg);
    transition: all .2s ease-in-out;
  }
  &:hover {
    &::after {
      border-color: var(--color-purple);
    }
    &::before {
      border-color: var(--color-purple);
    }
  }
  &:active {
    &::after {
      border-color: var(--color-dark-purple);
    }
    &::before {
      border-color: var(--color-dark-purple);
    }
  }
}

ymaps.ymaps-2-1-79-search__suggest {
  border: none;
  border-radius: 10px;
  top: 0;
}

.ymaps-2-1-79-search__suggest .ymaps-2-1-79-suggest-item {
  font-family: "OpenSans400";
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
  margin: 0;
}

ymaps.ymaps-2-1-79-suggest-item:last-of-type {
  margin: 0;
}

ymaps.ymaps-2-1-79-search__suggest-item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
  border: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
    font-family: "OpenSans400";
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
  &:hover {
    background-color: #f7f7f7;
    border-color: transparent;
  }
  &:active {
    background-color: #eaeaea;
  }
}

ymaps.ymaps-2-1-79-suggest-item-1 .ymaps-2-1-79-search__suggest-item {
  border-radius: 0 0 10px 10px;
}

ymaps.ymaps-2-1-79-search__suggest-item_selected_yes {
  background-color: #f8efff;
  border-color: var(--color-purple-hover);
}

ymaps.ymaps-2-1-79-suggest-item .ymaps-2-1-79-suggest-item-1 {
  border-radius: 0px 0px 10px 10px;
}


.balloon {
  width: 343px;
  padding: 30px;
  &__top {
    margin-bottom: 13px;
  }
  &__title {
    font-family: "OpenSans600";
    font-size: 16px;
    line-height: 100%;
    color: var(--color-black);
    margin-bottom: 7px;
  }
  &__address {
    font-family: "OpenSans400";
    font-style: normal;
    font-size: 14px;
    line-height: 180%;
    color: var(--color-gray);
    margin-bottom: 8px;
  }
  &__link {
    display: flex;
    align-items: center;
    width: max-content;
    font-family: "OpenSans400";
    font-size: 14px;
    line-height: 100%;
    color: var(--color-orange);
    transition: all .2s ease-in-out;
    & svg {
      fill: var(--color-orange);
      transition: all .2s ease-in-out;
    }
    &:hover {
      color: var(--color-orange-hover);
    }
    &:hover svg {
      fill: var(--color-orange-hover);
    }
    &:focus-visible {
      background-color: #fff5d1;
    }
    &:active {
      color: var(--color-dark-orange);
    }
    &:active svg {
      fill: var(--color-dark-orange);
    }
  }
  &__svg {
    fill: var(--color-orange);
    margin-right: 3px;
  }
  &__center {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 13px 0 13px 0;
    margin-bottom: 9px;
  }
  &__clockwork {
    font-family: "OpenSans400";
    font-size: 14px;
    line-height: 180%;
    color: var(--color-black);
  }
  &__span {
    font-family: "OpenSans400";
    font-size: 14px;
    line-height: 180%;
    color: var(--color-gray);
  }
  &__descr {
    font-family: "OpenSans400";
    font-size: 14px;
    line-height: 180%;
    color: var(--color-black);
  }
}

@media (max-width: 1310px) {
  .contacts {
    margin-bottom: 70px;
    &__container {
      padding: 0 35px;
    }
    &__input {
      width: 65.6%;
    }
   }
}

@media (max-width: 768px) {
  .contacts {
    &__container {
      padding: 0 72px;
    }
    &__title {
      margin-bottom: 14px;
    }
    &__search {
      margin-bottom: 12px;
    }
    &__input {
      margin-right: 24px;
      margin-bottom: 20px;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    &__link {
      &:hover {
        color: var(--color-gray);
      }
      &:active {
        color: var(--color-dark-purple);
      }
    }
    &__btn {
      margin-bottom: 20px;
      &:hover {
        background-color: var(--color-purple);
      }
      &:active {
        background-color: var(--color-dark-purple);
      }
    }
  }

  .balloon {
    &__link {
      &:hover {
        color: var(--color-orange);
      }
      &:hover svg {
        fill: var(--color-orange);
      }
      &:active {
        color: var(--color-dark-orange);
      }
      &:active svg {
        fill: var(--color-dark-orange);
      }
    }
  }
  ymaps.ymaps-2-1-79-search__suggest-item {
    &:hover {
      background-color: var(--color-white);
      border-color: transparent;
    }
    &:active {
      background-color: #eaeaea;
    }
  }
  .ymaps-2-1-79-map .ymaps-2-1-79-balloon__close .ymaps-2-1-79-balloon__close-button {
    &:hover {
      &::after {
        border-color: var(--color-gray);
      }
      &::before {
        border-color: var(--color-gray);
      }
    }
    &:active {
      &::after {
        border-color: var(--color-dark-purple);
      }
      &::before {
        border-color: var(--color-dark-purple);
      }
    }
  }
  .link-active {
    &:hover {
      color: var(--color-dark-purple);
    }
  }
}

@media (max-width: 530px) {
  .contacts {
    margin-top: 10px;
    margin-bottom: 71px;
    &__container {
      padding: 0 12px;
    }
    &__links {
      display: none;
    }
    &__title {
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 16px;
    }
    &__input {
      width: 100%;
      margin-bottom: 14px;
    }
  }

  .balloon {
    width: 242px;
    padding: 20px;
    &__title {
      font-size: 14px;
      line-height: 19px;
    }
    &__address {
      font-size: 12px;
      line-height: 16px;
    }
    &__clockwork {
      font-size: 12px;
      line-height: 180%;
    }
    &__descr {
      font-size: 12px;
      line-height: 140%;
    }
  }

  .ymaps-2-1-79-map .ymaps-2-1-79-balloon {
    left: -105px !important;
  }

  [id*="id_1639"] {
    width: 242px !important;
  }
  
}