$maxWidth: 1920;
$maxWidthContainer: 1275;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: #fcf8f3;
  @include adaptive ("margin-bottom", 88, 25, 0); 
  @include adaptive ("padding-bottom", 81, 40, 0); 
  &::before {
    content: "";
    position: absolute;
    width: 62.5%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #f9f1e7;
    z-index: 1;
  }
  &__container {
    display: flex;
    @include adaptive ("padding-top", 141, 80, 0); 
  }
  &__left {
    position: relative;
    width: 39.8%;
    padding: 4.9% 4.7% 4.7% 4.7%;
    margin-left: 4px;
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255,255,255,0.72);
      backdrop-filter: blur(31px);
    }
    z-index: 5;
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__text {
    width: 95%;
    font-size: 20px;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
  &__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    padding: 22px 36.5%;
    text-align: center;
    transition: all .2s ease-in-out;
  }
  &__swiper {
    bottom: 0;
    left: 0;
    width: 60%;
  }
  &__navigations {
    display: flex;
    @include adaptive ("padding-top", 32, 20, 0); 
    @include adaptive ("padding-bottom", 22, 10, 0); 
  }
  &__pagination {
    position: static;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    z-index: 1;
  }
  &__button-prev {
    position: static;
    display: block;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--colorOrangePrimary);
    border-radius: 50%;
    margin-right: 8px;
    z-index: 1;
    transition: all .2s ease-in-out;
    &::after {
      display: none;
    }
    & svg {
      transform: rotate(180deg);
      stroke: var(--colorWhite);
      fill: transparent;
    }
  }
  &__button-next {
    position: static;
    display: block;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--colorOrangePrimary);
    border-radius: 50%;
    margin-right: 4px;
    z-index: 1;
    transition: all .2s ease-in-out;
    &::after {
      display: none;
    }
    & svg {
      stroke: var(--colorWhite);
      fill: transparent;
    }
  }
  &__slide {
    position: relative;
  }
  & .slide-one {
    background-image: url(/img/main-slider-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & .slide-two {
    background-image: url(/img/main-slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & .slide-third {
    background-image: url(/img/main-slider-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & .slide-four {
    background-image: url(/img/main-slider-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .swiper-pagination-bullet {
    position: relative;
    width: 11px;
    height: 11px;
    background-color: #d8d8d8;
    &::before {
      content: "";
      position: absolute;
      top: -8.5px;
      left: -9px;
      width: 260%;
      height: 250%;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all .3s ease-in-out;
    }
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    opacity: 1;
    margin-right: 15px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--colorOrangePrimary);
    &::before {
      border-color: var(--colorOrangePrimary);
    }
  }
  &__descr {
    position: absolute;
    right: 44px;
    bottom: 37px;
    width: 39.4%;
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255,255,255,0.72);
      backdrop-filter: blur(31px);
    }
    padding: 24px;
    & svg {
      fill: var(--colorBlack);
    }
    & .hero__text {
      font-size: 16px;
      color: #616161;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: var(--colorBlack);
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      transition: all .2s ease-in-out;
    }
  }
  &__price {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--colorBlack);
  }
}

@media (max-width: 1218px) {
  .hero {
    &__container {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-left: 0;
      margin-bottom: 30px;
    }
    &__text {
      width: 100%;
    }
    &__btn {
      position: relative;
      align-self: center;
      padding: 24px 13.5%;
      z-index: 2;
    }
    &__swiper {
      position: relative;
      width: 90%;
      padding-bottom: 55px;
      margin-bottom: 30px;
    }
    &__navigations {
      padding: 0;
    }
    &__pagination {
      position: absolute;
      text-align: center;
    }
    &__button-prev {
      position: absolute;
      top: 48%;
      left: 20px;
      margin: 0;
      transform: translateY(-50%);
      z-index: 2;
    }
    &__button-next {
      position: absolute;
      top: 48%;
      @include adaptive ("right", -135, -40, 0); 
      margin: 0;
      transform: translateY(-50%);
      z-index: 2;
    }
    &__slide {
      padding-top: 60%;
    }
  }
}

@media (max-width: 630px) {
  .hero {
    &__title {
      font-size: 32px;
    }
    &__text {
      font-style: 14px;
    }
    &__link {
      font-size: 18px;
    }
    &__price {
      font-size: 14px;
    }
    &__button-prev {
      display: none;
    }
    &__button-next {
      display: none;
    }
    &__slide {
      padding-top: 100%;
    }
    &__descr {
      width: 100%;
      top: 0;
      right: 0;
      bottom: auto;
    }
    &__btn {
      font-size: 16px;
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
    }
  }
}