:root {
  --orange: #FF9514;
  --black: #000000;
  --main: #575757;
  --dark: #111111;
  --white: #FFFFFF;
  --white_darkblue: #F3F3F4;
  --gray_opacity: rgba(17, 17, 17, 0.5);
  --hover_v1: #111111;
  --hover_v2: #FF9514;
  --active_v1: #575757;
  --active_v2: #FFA83D;
  --background_color_v1: #F3F3F4;
  --background_color_v2: #F1F1F1;
}

.container {
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 36px;
  }

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

body {
  background-color: #FFFFFF;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy';
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.button-border {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 174px;
  flex-shrink: 0;
  min-height: 48px;
  border: 1px solid var(--orange);
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--orange);
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, opacity .2s ease-in-out;

  @media (max-width: 991px) {
    flex: none;
    width: 249px;
    min-height: 48px;
    color: var(--white);
    background-color: var(--orange);
  }

  @media (max-width: 600px) {
    width: 216px;
  }

  & span:first-child {
    display: block;
  }

  & span:last-child {
    display: none;
  }

  &.loading {
    background-color: transparent;

    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
        border-color: var(--orange);
      }
    }

    &:active {
      background-color: transparent;
      border-color: var(--orange);
      transition-duration: .1s;
    }

    & svg {
      stroke: var(--orange);
    }

    & span:first-child {
      display: none;
    }

    & span:last-child {
      display: block;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: .4;
    background-color: transparent;
    color: var(--orange);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover_v2);
      color: var(--white);
      border-color: transparent;
    }
  }

  &:active {
    color: var(--white);
    background-color: var(--active_v2);
    transition-duration: .1s;
  }
}

.button-background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #FF9514;
  border: 1px solid #FF9514;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  width: 174px;
  min-height: 48px;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, opacity .2s ease-in-out;

  @media (max-width: 991px) {}

  @media (max-width: 600px) {}

  & span:first-child {
    display: block;
  }

  & span:last-child {
    display: none;
  }

  &.loading {
    background-color: var(--orange);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--orange);
      }
    }

    &:active {
      background-color: var(--orange);
      transition-duration: .1s;
    }

    & svg {
      stroke: var(--white);
    }

    & span:first-child {
      display: none;
    }

    & span:last-child {
      display: block;
    }
  }

  &.disabled {
    background-color: var(--orange);
    color: var(--white);
    pointer-events: none;
    opacity: .4;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--hover_v1);
      border-color: transparent;
    }
  }

  &:active {
    background-color: var(--active_v1);
    border-color: transparent;
    transition-duration: .1s;
  }
}

.loading {
  & svg {
    stroke: var(--white);
    transition: stroke .2s ease-in-out;
  }
}

.disabled {
  opacity: .4;
}

.okay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  background-color: rgba(17, 17, 17, 0.5);
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;

  &__body {
    position: relative;
    width: 600px;
    padding: 100px 40px 100px 40px;
    border-radius: 10px;
    background-color: var(--white);

    @media (max-width: 1220px) {
      padding: 60px 30px 60px 30px;
    }

    @media (max-width: 991px) {
      padding: 40px 20px;
    }

    @media (max-width: 700px) {
      width: 100%;

    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 80px;
      height: 80px;
    }

    @media (max-width: 600px) {}

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }

    &::before {
      content: "";
      width: 60px;
      height: 50px;
      border-left: 10px solid var(--white);
      border-bottom: 10px solid var(--white);
      transform: rotate(-45deg) translate(7px, -6px);
      border-radius: 10px;

      @media (max-width: 991px) {
        width: 50px;
        height: 40px;
        transform: rotate(-45deg) translate(5px, -4px);
      }

      @media (max-width: 600px) {}
    }
  }

  &__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--white_darkblue);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 1;
    transition: background-color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--orange);

        &::before {
          background-color: var(--white);
        }

        &::after {
          background-color: var(--white);
        }
      }
    }

    &:active {
      background-color: var(--orange);
      transition-duration: .1s;

      &::before {
        background-color: var(--white);
        transition-duration: .1s;
      }

      &::after {
        background-color: var(--white);
        transition-duration: .1s;
      }
    }

    @media (max-width: 600px) {
      width: 24px;
      height: 24px;
      top: 20px;
      right: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 32%;
      width: 19px;
      height: 1.5px;
      background-color: #828282;
      z-index: 1;
      transform: rotate(-45deg);
      transition: background-color .2s ease-in-out;

      @media (max-width: 991px) {}

      @media (max-width: 600px) {
        width: 10px;
        top: 48%;
        left: 30%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30%;
      width: 19px;
      height: 1.5px;
      background-color: #828282;
      z-index: 1;
      transform: rotate(45deg);
      transition: background-color .2s ease-in-out;

      @media (max-width: 600px) {
        width: 10px;
        top: 48%;
      }
    }
  }

  &__strong {
    display: block;
    font-family: "Nekst";
    font-weight: 900;
    font-size: 54px;
    line-height: 0.9;
    color: #111111;
    text-align: center;

    @media (max-width: 1220px) {
      font-size: 44px;
    }

    @media (max-width: 991px) {
      font-size: 34px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
    }
  }
}

.okay-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}