:root {
  --color-black: #333333;
  --color-dark-black: #000000;
  --color-gray: #666666;
  --color-white: #ffffff;
  --color-orange: #ff9900;
  --color-dark-orange: #e1670e;
  --color-light-orange: #f7b045;
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat400';
}

.text {
  font-family: "Montserrat400";
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
}

.title {
  font-family: "Montserrat400";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.subtitle {
  font-family: "Montserrat700";
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
}

.btn {
  font-family: "Montserrat700";
  font-size: 23px;
  line-height: 29px;
  color: var(--color-white);
  padding: 19px, 37px, 19px, 37px;
  border: 1px;
  background-color: var(--color-orange);
}

@media (min-width: 1024px) {
  .header__link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .header__link:hover::before {
    background-color: var(--color-orange);
    opacity: 1;
  }
  .header__link:focus-visible {
    border-color: var(--color-orange);
  }
  .header__link:active {
    color: var(--color-dark-orange);
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
  }
  .header__link:active::before {
    background-color: var(--color-dark-orange);
    opacity: 1;
  }
  .header__btn svg path {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .header__btn svg rect {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .header__btn:hover svg path {
    stroke: var(--color-orange);
  }
  .header__btn:hover svg rect {
    fill: var(--color-orange);
  }
  .header__btn:focus-visible {
    border-color: var(--color-orange);
  }
  .header__btn:active svg path {
    stroke: var(--color-dark-orange);
  }
  .header__btn:active svg rect {
    fill: var(--color-dark-orange);
  }
  .searchwrapper__search svg path {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .searchwrapper__search svg rect {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .searchwrapper__search:focus-visible {
    border-color: var(--color-orange);
  }
  .searchwrapper__search:focus-visible svg path {
    stroke: var(--color-black);
  }
  .searchwrapper__search:focus-visible svg rect {
    fill: var(--color-black);
  }
  .searchwrapper__search:active svg path {
    stroke: var(--color-dark-orange);
  }
  .searchwrapper__search:active svg rect {
    fill: var(--color-dark-orange);
  }
  .searchwrapper__exit svg circle {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .searchwrapper__exit svg rect {
    fill: #999999;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .searchwrapper__exit:hover svg circle {
    stroke: var(--color-orange);
  }
  .searchwrapper__exit:hover svg rect {
    fill: var(--color-orange);
  }
  .searchwrapper__exit:focus-visible {
    border-color: var(--color-orange);
  }
  .searchwrapper__exit:active svg circle {
    stroke: var(--color-black);
  }
  .searchwrapper__exit:active svg rect {
    fill: var(--color-black);
  }
}
/*# sourceMappingURL=overall.css.map */