:root {
  --color-black: #333333;
  --color-dark-black: #000000;
  --color-gray: #666666;
  --color-white: #ffffff;
  --color-orange: #ff9900;
  --color-dark-orange: #e1670e;
  --color-light-orange: #f7b045;
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat400';
  overflow-x: hidden;
  background-color: #eaeaea;
}

.body-block {
  position: relative;
  overflow: hidden;
  padding-right: 17px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 100px;
    background-color: var(--color-white);
  }
}

.text {
  font-family: "Montserrat400";
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.title {
  font-family: "Montserrat400";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.subtitle {
  font-family: "Montserrat700";
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
}

.btn {
  font-family: "Montserrat700";
  font-size: 23px;
  line-height: 29px;
  color: var(--color-white);
  padding: 24px 40px 24px 40px;
  border: 1px;
  background-color: var(--color-orange);
}

@media (min-width: 1024px) {
  .header {
    &__link {
      transition: all .2s ease-in-out;
      &:hover {
        &::before {
          background-color: var(--color-orange);
          opacity: 1;
        }
      }
      &:focus-visible {
        border-color: var(--color-orange);
      }
    }
    &__btn {
      & svg path {
        transition: all .2s ease-in-out;
      }
      & svg rect {
        transition: all .2s ease-in-out;
      }
      &:hover svg path {
        stroke: var(--color-orange);
      }
      &:hover svg rect {
        fill: var(--color-orange);
      }
      &:focus-visible {
        border-color: var(--color-orange);
      }
    }
  }
  .searchwrapper {
    &__search {
      & svg path {
        transition: all .2s ease-in-out;
      }
      & svg rect {
        transition: all .2s ease-in-out;
      }
      &:focus-visible  {
        border-color: var(--color-orange);
        & svg path {
          stroke: var(--color-black);
        }
        & svg rect {
          fill: var(--color-black);
        }
      }
    }
    &__exit {
      & svg circle {
        transition: all .2s ease-in-out;
      }
      & svg rect {
        transition: all .2s ease-in-out;
      }
      &:hover {
        & svg circle {
          stroke: var(--color-orange);
        }
        & svg rect {
          fill: var(--color-orange);
        }
      }
      &:focus-visible {
        border-color: var(--color-orange);
      }
    }
  }
  .hero {
    &__btn {
      &:hover {
        background-color: var(--color-light-orange);
      }
      &:focus-visible {
        background-color: var(--color-light-orange);
      }
    }
  }
  .about {
    &__btn {
      &:hover {
        background-color: var(--color-orange);
      }
      &:focus-visible {
        background-color: var(--color-orange);
      }
    }
  }
  .work-tab {
    &__button {
      &:hover {
        background-color: var(--color-light-orange);
      }
      &:focus-visible {
        background-color: var(--color-light-orange);
      }
    }
    &__but {
      &:hover {
        color: var(--color-white);
        background-color: var(--color-gray);
      }
      &:focus-visible {
        color: var(--color-white);
        background-color: var(--color-gray);
      }
    }
  }
  .accordion {
   &__heading {
    &:hover {
      border-color: orange;
      position: relative;
      z-index: 1;
      & .accordion__title {
        color: var(--color-orange);
      }
      & svg ellipse {
        fill: var(--color-orange);
      }
      & svg path {
        fill: var(--color-white);
      }
    }
    &:focus-visible {
      border-color: orange;
      position: relative;
      z-index: 1;
      & .accordion__title {
        color: var(--color-orange);
      }
      & svg ellipse {
        fill: var(--color-orange);
      }
      & svg path {
        fill: var(--color-white);
      }
    }
   }
   }
   .footer {
     &__btn {
      &:hover {
        background-color: var(--color-light-orange);
      }
      &:focus-visible {
        background-color: var(--color-light-orange);
      }
    }
    &__link {
      &:hover {
        color: var(--color-orange)
      }
      &:focus-visible {
        border-color: var(--color-orange);
      }
    }
    &__icon {
      &:hover {
        & svg path {
          fill: var(--color-orange);
        }
      }
      &:focus-visible {
        border-color: var(--color-orange);
      }
    }
    &__text {
      &:hover {
        background-color: var(--color-gray);
      }
    }
    &__email {
      &:hover {
        background-color: var(--color-gray);
      }
    }
    &__textarea {
      &:hover {
        background-color: var(--color-gray);
      }
    }
   }
}
