@media (max-width: 1322px) {
 /* Header */

 .header {
   height: 100px;
 }

 .header__adaptive {
  display: block;
  position: relative;
}

.header__adaptive-content {
  padding: 30px 10px;
}

.header__content {
  display: none;
}

.header__content-active {
  position: absolute;
  width: 100%;
  display: block;
}

.header__bottom {
  display: block;
}

.header__content-top {
  background-color: rgba(0, 0, 0, 0.8);
  height: 876px;
  z-index: 33;
  top: -100px;
}

.header__content-bottom {
  display: none;
}

.header__logo,
.header__search {
  display: none;
}

.header__top {
  flex-direction: column;
}

.header__nav {
  align-self: flex-start;
  margin: 100px 20px 50px 0;
}

.header__link {
  align-self: flex-start;
  margin: 0;
  padding: 15px 70px;
  border: 2px solid var(--color-purple);
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
}

.header__links {
  flex-direction: column;
}

.header__links-item {
  align-self: flex-start;
}

.header__links-item a  {
  padding: 0;
  font-size: 18px;
}

.header__link svg {
  margin: -2px 5px 0 0;
}

.header__links-item:not(:last-child) {
  margin: 0 0 25px 0;
}

.header__content-top {
  position: relative;
  z-index: 1;
}

.adaptive-search-form {
  padding: 0 0 7px 0;
}

.adaptive-search-form,
.adaptive-search-btn {
  background-color: #18171B;
}

.adaptive-search-item::placeholder {
  opacity: 0;
}

.adaptive-search-click {
  display: block;
  position: relative;
}

.adaptive-search-click svg {
  width: 29px;
  height: 28px;
}
 
.header__adaptive-search {
  display: none;
  position: absolute;
  right: 0;
  top: 36%;
}

.header__adaptive-search-active  {
  display: block;
  right: 8%;
}

.adaptive-search-btn {
  padding: 0 10px 0 0;
  top: 0;
}

.adaptive-search-click-active {
  position: relative;
  width: 41px;
  height: 33px;
}

.adaptive-search-click-active svg {
  display: none;
}

.adaptive-search-click-active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 15px;
  left: 0;
  background-color: var(--color-white);
  transform: rotate(45deg);
}
.adaptive-search-click-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 15px;
  right: 0;
  background-color: var(--color-white);
  transform: rotate(-45deg);
}

  /* hero */

.hero__title {
  width: 60%;
}

.hero__text {
  width: 70%;
}

.slide-1 {
  background-image: url(/img/hero-1-1024.png);
}

.slide-2 {
  background-image: url(/img/hero-2-1024.png);
}

.slide-3 {
  background-image: url(/img/hero-3-1024.png);
}

/* Gallery */

.gallery-slider-wrapper,
.gallery-slider-wrapper-two,
.gallery-slider-wrapper-three {
  width: 63%;
}

.gallery-two-slide-7,
.gallery-two-slide-8,
.gallery-three-slide-7,
.gallery-three-slide-8 {
  display: block;
}

/* Catalog*/ 

.italy-painter {
  display: none;
}
  
.italy-painter-adaptive {
  display: block;
}

 /* Developments */

 .developments__item {
   flex: 0 1 31%;
  }

  /* Editions */ 

  .editions-slider-wrapper {
    width: 70%;
    margin: 0;
    padding: 12% 0 10px 0;
  }

  .editions__content-left {
    margin: 0 3% 0 0;
  }

  .editions__content {
    justify-content: flex-start;
  }

}

@media (max-width: 1024px) {

  .container {
    max-width: 925px;
    padding: 0 10px;
  }

  /* Header */

  .header__adaptive-content {
    padding: 28px 0;
  }

  .header__adaptive-search-active {
    right: 12%;
  }

  /* Hero */

  .hero__content {
    padding: 13.5% 5% 15% .2%;
}

  .hero__title {
    width: 65%;
    margin: 0 0 11px 0;
  }

  .hero__text{
    width: 85%;
    padding: 0 0 17.9% 0;
  }

  /* About */

  .about__content {
    padding: 0;
  }
  
  .about__text {
    width: 100%;
  }

  /* Gallery */

  .gallery {
    margin-bottom: 76px;
  }

  .gallery__content {
    padding: 0;
  }

  .gallery-left-content {
    width: 30.2%;
    margin: 0 5% 0 0;
  }

  .gallery__subtitle {
    margin: 0 0 17px 0;
  }

  .gallery__text {
    width: 100%;
    padding: 0 0 24.6% 0;
  }

  .gallery-slider-wrapper,
  .gallery-slider-wrapper-two,
  .gallery-slider-wrapper-three {
    width: 65%;
    height: 735px;
    padding: 11.3% 0 0 0;
  }

  .gallery__slider-buttons {
    left: 5px;
  }

  .gallery-sliders-hover {
    height: 280px;
  }

  .swiper-button-prev-gallery {
    margin: 0 17px 0 0;
  }

  .swiper-pagination-gallery {
    margin: 9px 17px 0 0;
  }
  
  /* Catalog */

  .catalog {
    margin-bottom: 82px;
  }

  .catalog__content {
    padding: 0;
  }

  .catalog__text {
    width: 100%;
    margin: 0 0 38px 0;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 0;
  }

  .catalog__head {
    margin-bottom: 8px;
  }

  .catalog__list  {
    padding: 21px 0 0 0;
  }

  .catalog__content-italy,
  .catalog__content-unknown {
    justify-content: space-between;
  }

  .catalog__accordion {
    width: 47.5%;
  }

  .catalog__subtitle,
  .catalog__unknown-subtitle {
    padding-top: 71%;
  }

  .catalog-content-unknown {
    flex-direction: column;
  }

  .catalog-content-unknown img {
    height: 150px;
  }

  .content-unknown-text {
    margin: 10px 10px 20px 10px
  }

  .content-unknown-text h4 {
    font-size: 18px
  }

  .content-unknown-text p {
    font-size: 14px;
  }

  .content-unknown-text a {
    font-size: 14px;
  }

  .italy-painter-list {
    justify-content: space-between;
  }

  .italy-painter-adaptive {
    margin: 33px 0 17px 0;
  }

  /* Developments */

  .developments__content {
    padding: 0;
  }

  .developments__item {
    background-image: url(/img/developments-1-1024.png);
  }
  
  .developments__item:nth-child(2) {
    background-image: url(/img/developments-2-1024.png);
  }
  
  .developments__item:nth-child(3) {
    background-image: url(/img/developments-3-1024.png);
  }
  
  .developments__item:nth-child(4) {
    background-image: url(/img/developments-4-1024.png);
  }
  
  .developments__item:nth-child(5) {
    background-image: url(/img/developments-5-1024.png);
  }

  .developments__date {
    margin: 75% 18px 8px 0;
  }

  .developments__subtitle {
    margin: 0 30px 3px 33px;
  }
  
  .developments__text {
    margin: 3px 31px 29px 33px;
  }

  .developments__links {
    margin:  0 0 43px 31px;
  }

  .developments__btn {
    padding: 2.1% 3.9%;
    margin: 2.7% 0 0 0;
  }

  /* Editions */

  .editions__content {
    padding: 0;
  }

  .editions__content-left {
    width: 28.7%;
    margin: 0 3% 0 0;
  }

  .editions-price {
    width: 275px;
  }

  .editions-field-price {
    width: 63px;
  }

  .editions-slide-1 img,
  .editions-slide-2 img,
  .editions-slide-3 img,
  .editions-slide-4 img,
  .editions-slide-5 img,
  .editions-slide-6 img,
  .editions-slide-7 img {
    height: 320px;
  }

  .editions-card-text {
    margin: 10px 3px 15px 5px;
  }

  .editions-card-descr {
    width: 70%;
  }

  .editions-card-price {
    margin: 9px 0 0 0;
    padding: 0 5px 0 0;
  }

  .editions-slide-9 {
    display: none;
  }

  .editions-price, .editions-price-adaptive {
    margin: 16px 0 0 0;
  }
 
  /* Projects */

  .projects  {
    margin-bottom: 87px;
  }

  .projects__content,
  .swiper-projects {
    padding: 0;
  }

  .projects-slider {
    width: 81%;
  }

  .swiper-button-projects-prev {
    left: -.3%;
    top: 42.1%;
  }

  .swiper-button-projects-next {
    right: -.1%;
    top: 42%;
  }

  .projects__text {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .projects__subtitle {
    margin: 0 0 22px 0;
  }

  .projects-slide-1,
  .projects-slide-2,
  .projects-slide-3,
  .projects-slide-4,
  .projects-slide-5,
  .projects-slide-6,
  .projects-slide-7,
  .projects-slide-8,
  .projects-slide-9 {
    max-width: 385px !important;
  }


  #tooltipOne::after,
  #tooltipTwo::after,
  #tooltipThree::after {
   display: none;
  }

  /* Contacts */

  .contacts__title {
    padding: 0;
  }

  .contacts__address-item {
    display: none;
  }

  .contacts__address-item-adaptive {
    display: block;
  }

  .contacts__address, 
  .contacts__address-adaptive {
    line-height: 10px;
    margin-bottom: 39px;
  }

  .contacts__address-item-adaptive {
    line-height: 36px;
  }

  .contacts__form-content {
    width: 41.5%;
    padding: 12% 6.4% 8.4% 4.7%;
  }

  .contacts__form input {
    width: 81%;
  }

  .contacts__form-btn {
    padding: 17px 37px;
    margin: 20px 0 40px 0;
  }

  .contacts-svg-decsp {
    display: none;
  }

  .contacts-svg-adaptive {
    display: block;
  }

  .contacts__social-list li:not(:last-child) {
    margin: 0 24px 0 0;
  }

  .contacts__map {
    width: 60%;
  }

  /* Footer */

  .footer__content {
    padding: 40px 0;
  }

  .footer__social-links-blanchard {
    display: flex;
  }

  .footer-svg-decsp {
    display: none;
  }

  .footer-svg-adaptive {
    display: block;
  }

  .footer__social-item-blanchard:not(:last-child) {
    margin-right: 32px;
}

}

@media (max-width: 937px) {

  /* Header */

  .header__links {
    margin: 16px 10px 16px 0;
  }

  .header__content-active  {
    display: flex;
  }

  .header__adaptive-search {
    margin: 0 0 0 8%;
  }

  .header__logo-adaptive-disabled,
  .header__burger-disabled {
    display: none;
  }

  .header__adaptive-search-active {
    position: relative;
    right: 0;
    top: 0;
    order: 1;
    width: 100%;
  }

  .adaptive-search-form,
  .adaptive-search-item {
    width: 100%;
  }

  .adaptive-search-click-active {
    order: 2;
  }

  /* Hero */

  .hero__title {
    width: 100%;
  }

  /* Catalog */

  .catalog__content-italy,
  .catalog__content-unknowm {
    flex-direction: column;
  }

  .italy-description,
  .unknowm-description {
    order: 2;
    width: 100%;
  }

  .catalog__subtitle,
  .catalog__unknown-subtitle {
    padding-top: 65%;
  }

  .italy-painter-adaptive {
    display: none;
  }

  .italy-painter {
    display: block;
  }

  .catalog-content-unknown {
    flex-direction: row;
  }

  .catalog-content-unknown img {
    width: 300px;
    height: 200px;
  }

  .content-unknown-text h4 {
    font-size: 24px;
  }

  .content-unknown-text p,
  .content-unknown-text a {
    font-size: 16px;
  }

  .catalog__accordion {
    order: 1;
    width: 100%;
  }

  /* Gallery */

  .gallery__content {
    flex-direction: column;
  }

  .gallery__text {
    display: none;
  }

  .gallery-top {
    display: flex;
    order: 1;
    flex-direction: column;
  }

  .gallery__text-adaptive {
    display: block;
    margin: 30px 0;
    width: 100%;
  }

  .gallery-slider-wrapper,
  .gallery-slider-wrapper-two,
  .gallery-slider-wrapper-three {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4.3% 0 0 0;
  }
  
  .gallery__slider-buttons {
    margin: 21px 0 23px 0;
  }

  .swiper-button-prev-gallery {
    margin: 0 10px 0 0;
  }

  .gallery-sliders-hover {
    height: 320px;
  }

  /* Editions */

  .editions__content {
    flex-direction: column;
  }

  .editions__content-left {
    width: 100%;
  }

  .editions__item {
    display: none;
  }

  .editions__item-adaptive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .editions__item-adaptive li {
    width: max-content;
  }

  .editions__item-adaptive ul:last-child {
    margin: 0;
  }

  .editions__item-adaptive ul:not(:last-child) {
    margin: 0 8% 0 0;
  }

  .editions-slider-wrapper {
    width: 80%;
    padding: 5% 0 6% 0;
    margin: 0 auto;
  }

  .editions-slide-1 img, 
  .editions-slide-2 img, 
  .editions-slide-3 img, 
  .editions-slide-4 img, 
  .editions-slide-5 img, 
  .editions-slide-6 img, 
  .editions-slide-7 img {
    width: 100%;
    height: 320px;
}

  /* Developments */

  .developments__list {
    display: none;
  }

  .developments__list-adaptive {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .developments__item,
  .developments__item:nth-child(3n) {
    flex: 0 1 47%;
    margin: 0 2.5% 2.5% 0;
  }

  .developments__item:nth-child(2n) {
    margin-right: 0;
  }

  .developments__btn-adaptive {
    display: block;
  }

  .developments__btn,
  .btn__disabled {
    display: none;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 666px;
  }

  /* Header */

  .header__burger {
    height: 27px;
  }

  .adaptive-search-click-svg {
    display: none;
  }

  .adaptive-search-click-svg-1024 {
    display: block;
  }

  .adaptive-search-click:hover .adaptive-search-click-svg rect,
  .adaptive-search-click:hover .adaptive-search-click-svg path,
  .adaptive-search-click:hover .adaptive-search-click-svg-1024 rect,
  .adaptive-search-click:hover .adaptive-search-click-svg-1024 path {
    fill: var(--color-white);
    transition: fill 0.2s ease-in-out;
  }

  .header__top {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .header__links {
    margin-right: 0;
  }

  .header__link {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* Hero */

  .hero__content {
    padding: 19% 1% 20.7% 0;
  }

  .hero__title {
    margin: 0 0 10px 0;
  }

  .hero__text {
    width: 100%;
    padding: 0 0 24% 0;
  }

  .slide-1  {
    background-image: url(/img/hero-1-768.png);
  }

  .slide-2  {
    background-image: url(/img/hero-2-768.png);
  }

  .slide-3  {
    background-image: url(/img/hero-3-768.png);
  }

  .header__links-item a:hover,
  .header__link:hover  {
    color: var(--color-white);
  }
  
  .header__link:hover svg path {
    fill: var(--color-white);
    transition: fill 0.2s ease-in-out;
  }

  /* Hero */

  .hero__btn:hover {
    border-color: transparent;
    transition: border-color 0.2s ease-in-out;
  }

  /* Gallery */

  .gallery-left-content {
    width: 100%;
    margin: 0;
  }

  .choices {
    width: 41.6%;
  }

  .gallery-slider-wrapper, 
  .gallery-slider-wrapper-two, 
  .gallery-slider-wrapper-three {
    height: 685px;
  }

  .wrapper-one-slide, 
  .wrapper-two-slide, 
  .wrapper-three-slide {
    height: 585px;
  }

  .gallery__slider-buttons {
    margin: 23px 0 23px 0;
  }

  .gallery-sliders-hover {
    height: 280px;
  }

  .gallery__text-adaptive {
    margin: 22px 0 59px 0;
  }
  
  .gallery__dropdown-select:hover,
  .gallery__dropdown-item:hover {
    background-color: transparent;
  }

  .swiper-button-prev-gallery:hover svg path,
  .swiper-button-next-gallery:hover svg path {
    fill: #666666;
    transition: fill 0.2s ease-in-out;
  }

  .gallery__link:hover {
    color: var(--color-purple);
    transition: color 0.2s ease-in-out;
  }

  .gallery-sliders-hover:hover::before {
    opacity: 0;
  }

  .gallery-sliders-hover:active::before {
    opacity: 1;
  }

  /* Catalog */

  .catalog {
    margin-bottom: 75px;
  }

  .catalog__head {
    margin-bottom: 13px;
  }

  .catalog__list {
    padding: 15px 0 0 0;
  }

  .catalog__list-item {
    margin-right: 10px;
  }

  .catalog__text {
    margin: 0 0 20px 0;
  }

  .ui-accordion .ui-accordion-content {
    padding: 16px 0 0 0;
  }

  .italy-description,
  .unknowm-description {
    margin-top: 47px;
  }

  .catalog__subtitle, .catalog__unknown-subtitle {
    padding-top: 68%;
  }

  .catalog__tabs-btn:hover {
    filter: none;
  }

  .italy-painter-link:hover {
    color: var(--color-black);
    transition: color 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .italy-painter-link:hover::after {
    opacity: 0;
  }

  .content-unknown-text a:hover::after {
    opacity: 0;
  }
  
  .content-unknown-text a:hover {
    color: var(--color-purple);
  }

  /* Developments */

  .developments {
    margin-bottom: 86px;
  }

  .developments__item,
  .developments__item:nth-child(3n) {
    flex: 0 1 48.4%;
  }

  .developments__item {
    background-image: url(/img/developments-1-768.png);
  }
  
  .developments__item:nth-child(2) {
    background-image: url(/img/developments-2-768.png);
  }
  
  .developments__item:nth-child(3) {
    background-image: url(/img/developments-3-768.png);
  }
  
  .developments__item:nth-child(4) {
    background-image: url(/img/developments-4-768.png);
  }
  
  .developments__item:nth-child(5) {
    background-image: url(/img/developments-5-768.png);
  }

  .developments__date {
    margin: 67% 26px 8px 0;
  }

  .developments__subtitle {
    margin: 0 30px 3px 40px;
    width: 76%;
  }

  .developments__text {
    margin: 0 40px 63px 38px;
  }

  .developments__links {
    margin: 0 0 43px 36px;
  }

  .developments__btn-adaptive {
    padding: 2.7% 5.5%;
    margin: 4.9% 0 0 0;
  }

  .developments__links:hover {
    color: var(--color-black);
  }
  
  .developments__links:hover::after {
    background-color: var(--color-black);
  }

  /* Editions */

  .editions {
    margin-bottom: 85px;
  }

  .editions__item-adaptive {
    justify-content: space-between;
    margin: 0 0 22px 0;
  }

  .editions__item ul:not(:last-child) {
    margin: 0;
  }

  .editions-slider-wrapper {
    width: 100%;
    padding: 5% 0 10% 0;
    margin: 0 auto;
  }

  .editions__slider-buttons {
    margin: 16px 0 17px 0;
  }

  .swiper-button-prev-editions {
    margin: 0 5px 0 0;
  }

  .editions-slide-1 img,
  .editions-slide-2 img,
  .editions-slide-3 img,
  .editions-slide-4 img,
  .editions-slide-5 img,
  .editions-slide-6 img, 
  .editions-slide-7 img {
    width: 100%;
    height: 330px;
    object-fit: contain;
  }

  .swiper-button-prev-editions:hover svg path,
  .swiper-button-next-editions:hover svg path {
    fill: #666666;
    border-radius: 100px;
  }

  .editions-card-btn:hover {
    border-color: var(--color-purple);
    background: none;
    outline: none;
  }

  .editions-slide-8 {
    display: block;
  }

  /* Projects */

  .projects {
    margin-bottom: 79px;
  }

  .projects-slider {
    width: 84%;
  }

  .projects__text-wrapper {
    margin-bottom: 28px;
  }

  .projects__subtitle {
    margin: 0 0 29px 0;
  }

  .swiper-button-projects-prev {
    top: 36%;
  }

  .swiper-button-projects-next {
    right: -.5%;
    top: 37%;
  }

  .swiper-button-projects-prev:hover svg path,
  .swiper-button-projects-next:hover svg path {
    fill: #ECECEC;
  }

  #buttonOne:hover + #tooltipOne,
  #buttonOne:focus-visible + #tooltipOne,
  #buttonTwo:hover + #tooltipTwo,
  #buttonTwo:focus-visible + #tooltipTwo,
  #buttonThree:hover + #tooltipThree,
  #buttonThree:focus-visible + #tooltipThree {
    opacity: 0;
    visibility: hidden;
  }

  #buttonOne .path-color:hover,
  #buttonTwo .path-color:hover,
  #buttonThree .path-color:hover {
    fill: white;
  }

  .projects-slide-1,
  .projects-slide-2,
  .projects-slide-3,
  .projects-slide-4,
  .projects-slide-5,
  .projects-slide-6,
  .projects-slide-7,
  .projects-slide-8,
  .projects-slide-9 {
    max-width: 264px !important;
  }

  /* Contacts */

  .contacts__form-content {
    width: 48%;
    padding: 15.9% 6.4% 11% 6.3%;
  }

  .contacts__address, 
  .contacts__address-adaptive {
    line-height: 13px;
    margin-bottom: 36px;
  }

  .contacts__map {
    width: 49.2%;
  }

  .contacts__form input {
    width: 91%;
  }

  .contacts__form-btn:hover {
    border-color: var(--color-purple);
    background-color: transparent;
    outline: none;
    color: var(--color-purple);
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }

  .contacts__form input:hover {
    background-color: transparent;
  }

  .contacts__social-icon-wa:hover .contacts-svg-decsp ,
  .contacts__social-icon-tg:hover .contacts-svg-decsp {
    opacity: 1;
  }

  .contacts__social-icon-wa:hover .contacts-svg-adaptive ,
  .contacts__social-icon-tg:hover .contacts-svg-adaptive {
    opacity: 1;
  }

  /* Footer */

  .footer__social-item-blanchard:hover .footer-svg-decsp path  {
    fill: #CACACA;
  }

  .footer__social-item-blanchard:hover .footer-svg-adaptive path  {
    fill: #CACACA;
  }
    
}

@media (max-width: 591px) {
  
  .container {
    max-width: 500px;
  }

 /* Header */

  .header__links {
    flex-direction: column;
  }

  .header__links-item:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .header__link  {
    padding: 15px 38px;
  }

  .header,
  .header__adaptive  {
    min-height: 45px;
  }

  .header__adaptive-content {
    padding: 13px 0 0 0;
  }

  .header__logo-adaptive,
  .adaptive-search-click-svg-1024 ,
  .adaptive-search-click{
    display: none;
  }

  .header__logo-adaptive-320 {
    display: block;
    margin: 0 0 -5px 0;
  }

  .header__logo-adaptive-disabled,
  .adaptive-search-click-320-active svg {
    display: none;
  }

  .adaptive-search-click-svg-320,
  .adaptive-search-click-320 {
    display: block;
  }

  .adaptive-search-click-320 {
      position: relative;
    }

  .adaptive-search-click-320-active {
    z-index: 33;
    width: 20px;
    height: 20px;
  }

  .adaptive-search-click-320-active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 10px;
    left: 0;
    background-color: var(--color-white);
    transform: rotate(45deg);
  }
  .adaptive-search-click-320-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 8px;
    right: 0;
    background-color: var(--color-white);
    transform: rotate(-45deg);
  }

  .header__search-320-active {
    display: block;
    position: relative;
    top: -40px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .adaptive-search-btn {
    left: -23px;
    top: 8px;
  }

  .header__adaptive-search-320 {
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50%;
    position: relative;
    display: block;
    padding: 42px 0 0 0;
  }

  .adaptive-search-form,
  .adaptive-search-btn {
    background-color: transparent;
  }

  .header__content-bottom-active {
    right: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 100px;
  }

  .header__burger {
    width: 25px;
    height: 18px;
  }

  .header__burger-active {
    height: 27px;
  }

  .burger-line,
  .header__burger::before,
  .header__burger::after {
    height: 2px;
  }

  .adaptive-search-click-active::before {
    top: 7px;
  }

  .adaptive-search-click-active::after {
    bottom: 9px;
  }

  .adaptive-search-click {
    padding: 0;
    width: 18px;
    height: 18px;
  }

  .header__adaptive-search-320 {
    display: block;
  }

  .adaptive-search-btn svg {
    display: none;
  }

  .adaptive-search-btn .search-svg-320 {
    display: block;
  }

  .adaptive-search-click-active {
    width: 20px;
  }

  .header__adaptive-search,
  .header__adaptive-search-active {
    display: none;
  }

  .header__burger-disabled {
    display: block;
  }

  /* Hero */

  /* .slide-1 {
    background-image: url(/img/hero-1-320.png);
  }

  .slide-2 {
    background-image: url(/img/hero-2-320.png);
  }

  .slide-3 {
    background-image: url(/img/hero-3-320.png);
  } */

  .hero__content {
    padding: 17% 1% 10% 0;
  }

  .hero__title  {
    font-size: 32px;
    text-align: center;
    line-height: 37px;
    margin-bottom: 13px;
  }

  .hero__text {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    width: 96%;
    margin: 0 auto;
    padding: 0 0 20% 0;
  }

  .hero__btn {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    padding: 9px 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    width: max-content;
  }

  /* About */

  .about {
    margin-top: -32px;
    margin-bottom: 43px;
  }

  .about__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  /* Gallery */

   .gallery {
    margin-bottom: 54px;
  }

  .choices {
    width: 100%;
  }

  .gallery-top {
    margin: 53px 0 0 0;
  }

  .gallery__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 21px;
  }

  .gallery__subtitle {
    margin: 0px 0 13px 0;
  }

  .gallery__dropdown-select {
    padding: 3.4% 2.5% 2.5% 3.5%;
  }

  .swiper-pagination-gallery {
    margin: 9px 11px 0 0;
  }

  .swiper-button-prev-gallery {
    margin: 0 11px 0 0;
  }

  .gallery__text-adaptive {
    margin: 0 0 27px 0;
    width: 97%;
  }

  .gallery-slider-wrapper, 
  .gallery-slider-wrapper-two, 
  .gallery-slider-wrapper-three {
    height: 460px;
    width: 85%;
  }

  .gallery-slider,
  .gallery-slider-two,
  .gallery-slider-three {
    order: 1;
  }

  .wrapper-one-slide, 
  .wrapper-two-slide, 
  .wrapper-three-slide {
    height: 370px;
  }

  .gallery__slider-buttons {
    order: 2;
    margin: 30px auto;
  }

  .gallery__slider-buttons-adaptive {
    display: flex;
    position: absolute;
  }

  .gallery__dropdown-select {
    padding: 2.4% 2.5% 2.5% 3.5%;
  }

  .gallery-sliders-hover {
    height: 367px;
  }

  .gallery-two-slide-7,
  .gallery-two-slide-8,
  .gallery-three-slide-7,
  .gallery-three-slide-8 {
    display: none;
  }

  .gallery-sliders-hover::before {
    width: 97.5%;
  }

  .popup-content {
    flex-direction: column;
  }

  .popup-content {
    width: 237px;
    height: max-content;
  }

  .popup-content img {
    height: 300px;
  }

  .popup-body {
    padding: 20px;
    width: 86%;
  }

  .popup-close::before,
  .popup-close::after {
    width: 20px;
    top: 0;
  }

  .popup-text {
    overflow: auto;
  }

  /* Catalog */

  .catalog__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog__title {
    font-size: 28px;
    font-weight: 400;
  }

  .catalog__text {
    display: none;
  }

  .catalog__list-item {
    margin-right: 23px;
    margin-left: -10px;
  }

  .right {
    margin-right: 0;
  }

  .ui-accordion .ui-accordion-header {
    padding: 21px 0 16px 0;
  }

  .ui-accordion .ui-accordion-content {
    padding-top: 28px;
    padding-bottom: 14px;
  }

  .italy-description,
  .unknowm-description {
    margin-top: 52px;
    margin-right: 0;
  }

  .catalog__subtitle,
  .catalog__unknown-subtitle {
    padding-top: 70%;
  }

  .italy-text {
    margin: 8px 0 0 0;
    width: 99%;
  } 

  .italy-painter-list {
    flex-direction: column;
  }

  .italy-painter {
    margin: 0;
  }

  .catalog-content-unknown img {
    width: 90px;
    height: 130px;
    padding: 6px;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 18px;
    font-weight: 600;
  }

  .catalog-svg {
    display: none;
  }

  .content-unknown-text h4 {
    font-size: 18px;
  }

  .catalog-svg-adaptive {
    display: block;
  }

  /* Developments */

  .developments__title  {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .developments__list-adaptive,
  .developments__btn-adaptive {
    display: none;
  }

  .developments {
    margin-bottom: 8px;
  }

  .developments__subtitle {
    margin: 0 30px 37px 31px;
    width: 82%;
  }

  .developments__text {
    margin: 0 40px 61px 30px;
    width: 82%;
  }

  .developments__links {
    margin: 0px 0 43px 26px;
  }

  .developments__item-two .developments__subtitle,
  .developments__item-free .developments__subtitle,
  .developments__item-four .developments__subtitle,
  .developments__item-five .developments__subtitle {
    margin-bottom: 5px;
  }

  .developments__item-free .developments__text,
  .developments__item-five .developments__text {
    margin-bottom: 41px;
  }

  .swiper-horizontal>.swiper-pagination-bullets 
  .swiper-pagination-bullet, 
  .swiper-pagination-horizontal.swiper-pagination-bullets, 
  .swiper-pagination-bullet {
    margin-right: 11px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction {
    bottom: 39px;
  }

  .swiper-developments {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 0 0 35px 0;
  }

  .slide-developments-1,
  .slide-developments-2,
  .slide-developments-3,
  .slide-developments-4,
  .slide-developments-5 {
    height: 735px;
  }

  .developments__item,
  .developments__item-two,
  .developments__item-free,
  .developments__item-four,
  .developments__item-five {
    display: flex;
    flex-direction: column;
    background-image: url(/img/developments-1-320.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    list-style: none;
    flex: 0 1 31.5%;
    margin: 0 2.5% 2.5% 0;
    border: 1px solid #CACACA;
    height: 100%;
  }
  
  .developments__item-two {
    background-image: url(/img/developments-2-320.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .developments__item-three {
    background-image: url(/img/developments-3-320.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .developments__item-four {
    background-image: url(/img/developments-4-320.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .developments__item-five {
    background-image: url(/img/developments-5-320.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
  }

  .developments__links::after {
    height: 1px;
  }

  .developments__date {
    margin: 73% 26px 8px 0;
  }

  .swiper-pagination-developments {
    position: relative;
    z-index: 99;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: max-content !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets
  .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets,
  .swiper-pagination-bullet {
    margin-right: 20px;
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(102, 102, 102, 1);
  }

  /* Editions */

  .editions {
    min-height: 100%;
  }


  .editions__content-left,
  .editions-slider,
  .editions__title,
  .editions__slider-buttons,
  .editions-slider-wrapper {
    display: none;
  }

  .editions__dropdown {
    display: block;
  }

  .editions__subtitle {
    margin-top: 16px;
  }

  .editions__dropdown {
    position: relative;
    overflow: hidden;
    z-index: 99;
  }

  .editions__title-adaptive,
  .editions__subtitle-adaptive {
    display: block;
    font-size: 28px;
    font-weight: 400;
  }

  .editions__subtitle-adaptive {
    margin: 30px 0 15px 0;
  }

  .editions__dropdown-select {
    position: relative;
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.6% 2.5% 3.2% 0;
    background-color: transparent;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s ease-in-out;
    z-index: 33;
  }

  .editions__dropdown-select:focus-visible,
  .editions__dropdown-select:focus-visible::before {
    outline: none;
    color: var(--color-purple-hover);
    border-color: var(--color-purple-hover);
  }

  .editions__dropdown-select:active,
  .editions__dropdown-select:active::before {
    color: var(--color-purple-2);
    border-color: var(--color-purple-2);
  }

  .editions__dropdown-select::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    right: 10px;
    top: 40%;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: var(--color-white);
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
  } 

  .editions__dropdown-select-active::before {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
  }

  .editions__dropdown-list {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
    left: -1px;
    transform: translateY(-700px);
    transition: transform 0.4s ease-in-out;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .editions__dropdown-list-hidden {
    background-color: transparent;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
    left: -1px;
    height: 100%;
  }

  .editions__dropdown-list-hidden li {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.4% 2.5% 2.8% 3%;
    list-style: none;
  }

  .editions__dropdown-list li {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.4% 2.5% 2.8% 3%;
  }

  .editions-category {
    color: var(--color-purple-hover);
    margin: 0;
  }

  .editions-category span::before {
    border-color: var(--color-purple-hover)
  }

  .editions-category span::after {
    background-color: var(--color-purple-hover);
    opacity: 1;
  }

  .editions__category-elements {
    display: block;
  }

  .editions-category-adaptive span::before {
    top: 10.7px;
  }

  .editions-category-adaptive span::after {
    top: 14px;
  }

  .editions-category span::before {
    top: 7.7px;
  }

  .editions-category span::after {
    top: 12px;
  }

  .editions-category-bestsellers,
  .editions-category-art,
  .editions-category-architecture,
  .editions-category-design,
  .editions-category-fashion,
  .editions-category-child,
  .editions-category-imaginativeliterature,
  .editions-category-journalism,
  .editions-category-travelguides,
  .editions-category-philosophy,
  .editions-category-educationalliterature,
  .editions-category-newspapers {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.4% 2.5% 2.8% 0;
    display: none;
  }

  .editions-category-bestsellers-active,
  .editions-category-art-active,
  .editions-category-architecture-active,
  .editions-category-design-active,
  .editions-category-fashion-active,
  .editions-category-child-active,
  .editions-category-imaginativeliterature-active,
  .editions-category-journalism-active,
  .editions-category-travelguides-active,
  .editions-category-philosophy-active,
  .editions-category-educationalliterature-active,
  .editions-category-newspapers-active {
    display: block;
    color: var(--color-purple-2);
    position: relative;
    z-index: 1;
    padding: 2.4% 2.5% 2.8% 0;
  }

  .editions-active-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background-color: transparent;
    border: none;
    z-index: 99;
  }

  .editions-active-close::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 12px;
    right: 4px;
    background-color: var(--color-purple-hover);
    transform: rotate(45deg);
  }

  .editions-active-close::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 7px;
    right: 4px;
    background-color: var(--color-purple-hover);
    transform: rotate(-45deg);
  }

  .editions__dropdown-list-active {
    position: relative;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .editions-category {
    width: 100%;
    background-color: transparent;
    text-align: left;
    border: none;
  }

  .editions-category span {
    top: -4px;
}

  .editions-price-adaptive {
    display: block;
    width: max-content;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .editions__list-adaptive {
    padding: 0;
    margin: 0;
  }

  .editions__list-adaptive li {
    list-style: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2.4% 2.5% 2.8% 3%;
  }

  .editions-category-adaptive {
    display: block;
  }

  .editions-card-body {
    flex-direction: column;
  }

  .editions__list-design-active {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .editions__list-item {
    width: 50%;
    margin-bottom: 10%;
    list-style: none;
  }

  .editions__list-item img {
    width: 85%;
  }

  .editions-card-descr {
    width: 100%;
  }

  .editions-card-price {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .editions-card-text {
    margin: 10px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .editions-card-btn {
    margin: 0;
  }


  /* Projects */

  .projects__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .projects-partner-link {
    margin-left: 1%;
    width: 95%;
  }

  #tooltipOne,
  #tooltipTwo,
  #tooltipThree {
    background-color: #CACACA;
  }

  .projects-slider {
    max-width: 264px;
}

  .swiper-button-projects-prev {
    left: -3.3%;
  }

  .swiper-button-projects-next {
    right: -2.5%;
  }

  /* Contacts */

  .contacts__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 11px;
  }

  .contacts__address-adaptive {
    line-height: 3px;
    margin-bottom: 29px;
  }

  .contacts__address-item-adaptive {
    font-size: 18px;
    font-weight: 600;
  }

  .contacts__address-item-adaptive span {
    font-size: 14px;
    font-weight: 400;
  }

  .contacts__form-subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  .contacts__subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  .contacts-svg-adaptive {
    display: none;
  }

  .contacts-svg-adaptive-320 {
    display: block;
  }

  .contacts__social-list li:not(:last-child) {
    margin: 0 19px 0 0;
  } 

  .contacts__content {
    flex-direction: column;
    position: relative;
  }

  .contacts__form-content {
    width: 75%;
    order: 2;
    border: none;
    padding: 6%;
  }

  .contacts__form input {
    width: 60%;
  }

  .contacts__map {
    width: 100%;
    height: 320px;
    order: 1;
  }

  .contacts__address {
    display: none;
  }

  .contacts__address-adaptive {
    display: block;
  }

  .contacts__address-adaptive {
    line-height: 10px;
  }

  .contacts__form-btn {
    padding: 15px 31px;
  }

  /* Footer */

  .footer {
    min-height: 132px;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__social-links-blanchard {
    order: 1;
    margin: 0 0 30px 0;
  }

  .footer-svg-adaptive,
  .footer__logo {
    display: none;
  }

  .footer-svg-adaptive-320,
  .footer__logo-320 {
    display: block;
  }

  .footer__social-links-blanchard {
    order: 1;
    margin: 0px 0 24px 0;
  }

  .footer__logo-320 {
    order: 2;
  } 

}

@media (max-width: 320px) {

  .container {
    max-width: 291px;
  }

  /* Header */

  .header__adaptive-content {
    padding: 11px 0 0 0;
  }

  /* Hero */

 .hero__content {
    padding: 21% 1% 23% 0;
  }

  .hero__text {
    width: 90%;
  }

  .hero__btn {
    bottom: 14%;
  }

  /* Gallery */

  .gallery-slider-wrapper,
  .gallery-slider-wrapper-two,
  .gallery-slider-wrapper-three {
    width: 100%;
    padding: 13.3% 0 0 0;
    height: 438px;
  }

  .gallery__slider-buttons {
    margin: 17px auto;
  }

  .gallery__text-adaptive {
    margin: 0 0 29px 0;
  }
  
  /* Catalog */

  .catalog {
    margin-bottom: 55px;
  }

  .catalog__head {
    margin-bottom: 8px;
  }

  /* Developments */

  .developments {
    margin-bottom: 14px;
  }

  .developments__date {
    margin: 76% 5px 8px 0;
  }

  .developments__subtitle {
    margin: 0 30px 39px 31px;
  }

  .slide-developments-1, 
  .slide-developments-2, 
  .slide-developments-3, 
  .slide-developments-4, 
  .slide-developments-5 {
    height: 679px;
  }

  .swiper-horizontal>.swiper-pagination-bullets 
  .swiper-pagination-bullet, 
  .swiper-pagination-horizontal.swiper-pagination-bullets, 
  .swiper-pagination-bullet {
    margin-right: 9px;
}

  /* Editions */

  .editions {
    margin-bottom: 54px;
  }

  .editions__title, 
  .editions__title-adaptive {
    padding: 53px 0 0 0;
    margin: 0px 0 16px 0;
  }

  .editions__dropdown-select {
    padding: 3% 2.5% 3.2% 0;
  }

  .editions__dropdown-select::before {
    right: 4px;
    top: 36%;
  }

  .editions-active-close {
    width: 16px;
    right: -5px;
  }

  .editions-category-bestsellers-active, 
  .editions-category-art-active, 
  .editions-category-architecture-active, 
  .editions-category-design-active, 
  .editions-category-fashion-active, 
  .editions-category-child-active, 
  .editions-category-imaginativeliterature-active, 
  .editions-category-journalism-active, .editions-category-travelguides-active, 
  .editions-category-philosophy-active, 
  .editions-category-educationalliterature-active, 
  .editions-category-newspapers-active {
    display: block;
    color: var(--color-purple-2);
    position: relative;
    z-index: 1;
    padding: 3.4% 2.5% 3.8% 0;
  }

  .editions__subtitle-adaptive {
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0 15px 0;
  }

  .editions-field-price {
    width: 57px;
  }
  
  .editions-price-adaptive {
    margin-bottom: 50px;
  }

  .editions-card-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 5px 0 0 0;
  }

  .editions-card-text span {
    font-size: 12px;
    font-weight: 700;
  }

  .editions-card-price {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .editions-card-btn {
    padding: 8px 29px;
  }

  .editions__list-item {
    width: 45%;
    margin-bottom: 17.2%;
  }

  .editions__list-item img {
    width: 100%;
  }


  .editions__list-item:nth-child(1n) {
    margin-right: 10px;
  }


  /* Projects */

  .projects {
    margin-bottom: 49px;
  }

  .projects__subtitle { 
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0; 
  }

  .projects__text-wrapper {
    margin-bottom: 16px;
  }

  .projects__text {
    margin: 0;
  }

  .projects__subtitle {
    margin: 0 0 13px 0;
  }

  .projects-slider {
    max-width: 194px;
  }

  .projects-slide-1,
  .projects-slide-2,
  .projects-slide-3,
  .projects-slide-4,
  .projects-slide-5,
  .projects-slide-6,
  .projects-slide-7,
  .projects-slide-8,
  .projects-slide-9 {
    height: 65px;
  }

  .swiper-button-projects-prev {
    left: -0.3%;
    top: 26%;
  }

  .swiper-button-projects-next {
    right: -0.5%;
    top: 27%;
  }

  /* Contacts */

  .contacts__address-adaptive {
    line-height: 1px;
    margin-bottom: 29px;
  }

  .contacts__form-subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  .contacts__form-content {
    padding: 7% 0 5% 5%;
  }

  .contacts__form input {
    width: 106%;
    margin-bottom: 0px;
  }

  .form-label {
    width: 100%;
    position: relative;
    margin: 0 0 1px 0;
  }

  .contacts__form-btn {
    font-size: 12px;
    font-weight: 700;
    padding: 11px 36px;
    margin-bottom: 27px;
  }

  .contacts__social-list {
    margin: 16px 0 10px 0;
  }

  /* Footer */

  .footer__content {
    padding: 18px 0;
  }

}