$maxWidth: 1920;
$maxWidthContainer: 1740;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.header-select {
  position: relative;
  @media (max-width: 830px) {
    position: relative;
    z-index: 5;
  }

  &__btn {
    @include adaptiv-font(18, 16);
    @include adaptive ("line-height", 21, 26, 0);
    font-style: normal;
    font-weight: 600;
    color: var(--black);
    background-color: transparent;
    transition: color .2s ease-in-out;
    &:active {
      color: var(--hover);
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 120%;
    left: -7px;
    width: 110%;
    height: 100%;
  }

  &__dropdown-wrap {
    padding: 15px 10px;
    background-color: var(--white);
  }

  &__drop-list {
  }

  &__dropdown-item {
    @include adaptiv-font(18, 16);
    @include adaptive ("line-height", 21, 26, 0);
    font-style: normal;
    font-weight: 600;
    color: var(--black);
    cursor: pointer;
    transition: color .2s ease-in-out;
  }
  &__dropdown-item:not(:last-child) {
    margin-bottom: 15px;
  }
}


.choices {
  min-width: 145px;
  text-align: center;
}

.choices__item--selectable {
  transition: color .2s ease-in-out;
}

.is-highlighted {
  transition: color .2s ease-in-out;
}

.choices__item {
  display: inline-block;
  @include adaptiv-font(18, 16);
  @include adaptive ("line-height", 21, 26, 0);
  font-style: normal;
  font-weight: 600;
  color: var(--black);
}

.choices__item:not(:last-child) {
  margin-bottom: 15px;
}

.choices__list--single {
  padding: 0;
}

.choices__inner {
  padding: 0;
  min-height: auto;
  border: none;
  background-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__list--dropdown .choices__item {
  display: inline-block;
  @include adaptiv-font(18, 16);
  @include adaptive ("line-height", 21, 26, 0);
  font-style: normal;
  font-weight: 600;
  color: var(--black);
  padding: 0;
}

.choices__list--dropdown {
  top: 120%;
  border: 0;
  background-color: transparent;
}

.choices__list {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,.3);
  padding: 5px;
  z-index: 10;
  @media (max-width: 830px) {
    background-color: #eceef4;
  }
}

.choices__list--single {
  padding: 0;
  background-color: transparent;
}

.choices [id*="item-choice-1"] {
  display: none !important;
}

.header {
  position: relative;
  z-index: 100;
  @include adaptive ("padding-top", 18, 10, 0);
  @include adaptive ("padding-bottom", 18, 10, 0);
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 31.8%;
    background-image: url(../../img/header_treg.png);
    background-repeat: no-repeat;
    width: 183px;
    height: 154px;
    transition: opacity .2s ease-in-out;
    @media (max-width: 1355px) {
      display: none;
    }
  }

  &__container {
    position: relative;
    overflow: visible;
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1220px) {
      margin-bottom: 20px;
    }
    @media (max-width: 830px) {
      margin-bottom: 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__wrapper-logo {
    @media (max-width: 1220px) {
      margin-right: 15px;
    }
  }

  &__logo {
    display: inline-block;
    transition: transform .2s ease-in-out;
  }

  &__middle {
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 830px) {
      flex-direction: column;
    }
  }

  &__bottom {
    display: none;
    @media (max-width: 1220px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 830px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 15;
      background: linear-gradient(151.74deg, #BBC8D4 -58.57%, #ECEEF4 85.33%);
      flex-direction: column;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out, pointer-events .2s ease-in-out;
      padding: 57px 30px 30px 30px;
      z-index: 100;
      &::before {
        content: "";
        position: absolute;
        bottom: -29%;
        right: 165px;
        width: 406px;
        height: 406px;
        background-image: url(../../img/burger-circle.png);
        background-repeat: no-repeat;
      }
      &::after {
        content: "";
        position: absolute;
        top: 19%;
        left: -118px;
        background-image: url(../../img/header_treg.png);
        background-repeat: no-repeat;
        width: 183px;
        height: 154px;
      }
    }
  }

  &__nav {
    @include adaptive ("margin-right", 40, 20, 0);

    @media (max-width: 830px) {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: 830px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }
  }

  &__item:not(:last-child) {
    @include adaptive ("margin-right", 40, 20, 0);

    @media (max-width: 830px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__burger-exit {
    display: none;
    position: absolute;
    top: -30px;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 40px;
    background-color: #e8e9ec;
    z-index: 16;
    align-self: end;

    @media (max-width: 830px) {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 2px;
      transform: translate(8.5px, 15px) rotate(45deg);
      background-color: #8e83ff;
      transition: background-color .2s ease-in-out;
    }
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 2px;
      background-color: #8e83ff;
      transform: translate(8.5px, -15px) rotate(-45deg);
      transition: background-color .2s ease-in-out;
    }
  
    &:active {
  
      &::before {
        background-color: var(--active);
      }
  
      &::after {
        background-color: var(--active);
      }
    }
  }

  &__link {
    position: relative;
    transition: color .2s ease-in-out;

    &:active {
      color: var(--white);
      transition-duration: .1s;
    }

    @media (max-width: 1220px) {
      font-size: 18px;
    }
  }

  &__button {
    position: relative;
    overflow: hidden;
    transition: box-shadow .2s ease-in-out;

    & span {
      position: relative;
      display: inline-block;
      z-index: 2;
      transition: color .2s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--hover);
      z-index: 1;
      transform: translateY(-120%);
      transition: transform .2s ease-in-out;
    }
  }
}

.burger-button {
  display: none;
  @media (max-width: 830px) {
    display: block;
    margin-bottom: 35px;
    margin-top: 70px;
  }
}

.header-soc {
  position: relative;
  display: none;
  align-items: center;
  @media (max-width: 830px) {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    & svg {
      fill: #2E54A2;
      transition: fill .2s ease-in-out;
    }
    &:active {
      & svg {
        fill: var(--white);
      }
    }
  }
}

.burger-logo {
  display: none;
  position: relative;
  z-index: 3;
  margin-right: 0;
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    top: -84%;
    left: -107%;
    background-image: url(../../img/burger-treg.png);
    background-repeat: no-repeat;
    width: 192px;
    height: 150px;
    z-index: -1;
  }
  @media (max-width: 830px) {
    display: block;
  }
}

.burger {
  display: none;
  position: relative;
  width: 28px;
  height: 22px;
  background-color: transparent;
  z-index: 2;

  @media (max-width: 830px) {
    display: block;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transform: translateY(-50%);
    transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  }

  &:active {
    & .burger__line {
      background-color: var(--active);
    }

    &::before {
      background-color: var(--active);
    }

    &::after {
      background-color: var(--active);
    }
  }
}

.nav-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}



@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header-select__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header-select__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}