$maxWidth: 1920;
$maxWidthContainer: 1460;

@mixin adaptive ($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    // Только если больше контейнера 
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    // Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

.hit {
  padding: 50px 0;
  background-color: #F6F9FA;

  @media (max-width: 1024px) {
    padding: 40px 0;
  }

  @media (max-width: 650px) {
    padding: 30px 0;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--main_color);
    margin-bottom: 30px;

    @media (max-width: 1280px) {
      font-size: 22px;
      line-height: 26px;
    }

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 23px;
    }

    @media (max-width: 650px) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }

}