.product-page {

  &__container {}

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    @media (max-width: 1280px) {
      padding-top: 20px;
    }

    @media (max-width: 1024px) {
      padding-top: 10px;
    }

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__block-left {
    margin-bottom: 60px;

    @media (max-width: 1135px) {
      margin-bottom: 36px;
      margin-right: 15px;
    }

    @media (max-width: 650px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 41px 101px 36px 101px;
    border: 1px solid #8CA4B5;
    margin-right: 15px;
    text-align: center;
    max-width: 469px;
    height: 347px;

    & img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    @media (max-width: 1350px) {
      max-width: 390px;
      height: 284px;
      padding: 35px 85px 25px 80px;
    }

    @media (max-width: 1135px) {
      max-width: 422px;
      height: 308px;
      margin-right: 0;
    }

    @media (max-width: 650px) {
      max-width: 100%;
      height: 234px;
    }
  }

  &__hit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 20px;
    width: 35px;
    height: 34px;

    @media (max-width: 1024px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 850px) {
      left: 10px;
    }

  }

  &__hit-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      max-width: 100%;
    }
  }

  &__hit-text {
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    text-transform: lowercase;

    @media (max-width: 1024px) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__info {
    max-width: 422px;
    margin-right: 15px;
    margin-bottom: 60px;

    @media (max-width: 1135px) {
      margin-top: 20px;
      margin-bottom: 0;
      margin-right: 0;
    }

    @media (max-width: 650px) {
      max-width: 100%;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--main_color);
    margin-bottom: 30px;

    @media (max-width: 1280px) {
      margin-bottom: 20px;
    }

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 15px;
    }
  }

  &__characteristics {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__list {}

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #8CA4B5;

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        margin-bottom: 5px;
      }
    }

    @media (max-width: 1024px) {
      padding-bottom: 5px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--main_color);

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 16px;
    }

    &_bold {
      font-weight: 600;

      @media (max-width: 1024px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__buy {
    width: 288px;
    position: relative;
    background-color: #EFF9FC;
    padding-top: 22px;
    padding-bottom: 59px;

    @media (max-width: 1135px) {
      align-self: flex-start;
      padding-bottom: 19px;
    }

    @media (max-width: 1024px) {
      width: 266px;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding-bottom: 30px;
    }

  }

  &__wrapper-availability {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--blue_dark);
  }

  &__availability {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    padding: 4px 14px 4px 16px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 4px;
      width: 7px;
      height: 7px;
      background-color: var(--white);
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__price-old {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--main_color);
    padding: 20px 0;
    text-align: center;

    @media (max-width: 1280px) {
      font-size: 20px;
      line-height: 23px;
    }

    @media (max-width: 1024px) {
      padding: 15px 0;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__price-red {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #347AB6;
    padding: 15px 10px;
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      padding: 10px 10px;
    }
  }

  &__red {
    font-style: normal;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 38px;

    @media (max-width: 1280px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: 1024px) {
      font-size: 22px;
      line-height: 26px;
    }

    @media (max-width: 650px) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__auld {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--main_color);
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 188px;
    margin: 0 auto;
  }

  &__bid {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    background-color: var(--hover_light);
    padding: 10px 10px;
    width: 89%;
    margin-bottom: 20px;
    transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 10px 20px rgba(91, 192, 222, 0.25);
      }
    }

    &:active {
      opacity: .5;
    }

    @media (max-width: 1024px) {
      padding: 8px 10px;
      width: 85%;
      margin-bottom: 15px;
    }

    @media (max-width: 650px) {
      padding: 8px 10px;
      font-size: 14px;
      line-height: 16px;
      width: 76.1%;
    }
  }

  &__wrapper-whatsapp {
    width: 89%;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      width: 85%;
      margin-bottom: 15px;
    }

    @media (max-width: 650px) {
      width: 76.1%;
    }
  }

  &__whatsapp {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    background-color: var(--blue_dark);
    padding: 10px 10px;
    text-align: center;
    transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 10px 20px rgba(26, 62, 92, 0.25);
      }
    }

    &:active {
      opacity: .5;
    }

    @media (max-width: 1024px) {
      padding: 8px 10px;
    }

    @media (max-width: 650px) {
      padding: 8px 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__payment {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: var(--main_color);

    & img {
      max-width: 100%;
      margin-right: 10px;
    }
  }
}

.viewed {
  padding: 50px 0;

  @media (max-width: 1280px) {
    padding: 40px 0 50px 0;
  }

  @media (max-width: 1024px) {
    padding: 40px 0 40px 0;
  }

  @media (max-width: 500px) {
    padding: 30px 0px;
  }

  &__container {}

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--main_color);
    margin-bottom: 30px;

    @media (max-width: 650px) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }

  &__wrapper-more {
    text-align: center;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--hover_dark);
    padding: 9px 19px 9px 19px;
    border: 1px solid var(--blue_dark);
    transition: opacity .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    @media (max-width: 1280px) {
      padding: 7px 15px 7px 15px;
    }

    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 16px;
      padding: 6px 15px 5px 15px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--blue_dark);
        color: var(--white);

        & span {
          & .viewed__more-load {
            display: none;
          }

          & .viewed__more-load_display {
            display: block;
          }

        }
      }
    }

    &:active {
      opacity: .5;
    }

  }

  &__more-load {}
}


.viewed__more-load {
  display: block;
  margin-top: 2px;
  margin-left: 10px;
}

.viewed__more-load_display {
  display: none;
}

.viewed-product-list {
  margin-bottom: 30px;

  @media (max-width: 1250px) {
    grid-template: auto / repeat(4, 1fr);
  }

  @media (max-width: 860px) {
    grid-template: auto / repeat(3, 1fr);
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    grid-template: auto / repeat(2, 1fr);
  }
}

.viewed-product-item {
  border: 1px solid #8CA4B5;
}

.viewed-item-hidden {
  @media (max-width: 860px) {
    display: none;
  }
}

.viewed-item-hidden_2 {
  @media (max-width: 500px) {
    display: block;
  }
}

.body-block {
  overflow: hidden;
}