.footer {
  background: radial-gradient(155% 155% at 50% 0%, #111111 0%, #192331 100%);
  padding: 49px 0 75px 0;
  @media (max-width: 900px) {
    padding: 30px 0 40px 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px 15px;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__top {
    @media (max-width: 900px) {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
  &__logo {
    max-width: 207px;
    height: 51px;
    @media (max-width: 600px) {
      max-width: 145px;
      height: 41px;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__middle {
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 76px;
    margin-bottom: 82px;
    @media (max-width: 900px) {
      margin-bottom: 20px;
    }
    @media (max-width: 600px) {
      margin-bottom: 10px;
      gap: 15px 30px;
    }
  }

  &__item {}

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    transition: color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
      }
    }

    &:active {
      color: var(--active);
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    & a {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--white);
      @media (max-width: 600px) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    @media (max-width: 600px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__right {
    @media (max-width: 900px) {
      display: none;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 28px;
    @media (max-width: 900px) {
      margin-bottom: 0;
    }
  }

  &__sogl {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--white);
    transition: color .2s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white);
      transition: background-color .2s ease-in-out;
    }
    @media (max-width: 900px) {
      margin-top: 20px;
    }
    @media (max-width: 600px) {
      margin-top: 10px;
      font-size: 12px;
      line-height: 12px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: var(--hover);
        &::after {
          background-color: var(--hover);
        }
      }
    }

    &:active {
      color: var(--active);
      &::after {
        background-color: var(--active);
      }
    }
  }

}