.partners {

  &__content {
    background-color: var(--white);
    padding: 0 30px 60px 30px;
    border-radius: 0 0 20px 20px;
    @media (max-width: 991px) {
      padding: 0 20px 40px 20px;
    }

    @media (max-width: 600px) {
      padding: 0 15px 30px 15px;
    }

    &_log {
      border-radius: 0 0;
      &:not(:last-child) {
        padding-bottom: 30px;
  
        @media (max-width: 991px) {
          padding-bottom: 20px;
        }
      }
    }
  }

  &__top {
    
    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__substitle {
    font-family: 'daysone';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--grey_light);
    max-width: 250px;

    @media (max-width: 991px) {
      font-size: 14px;
      max-width: 100%;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
  &__wrapper-table {
    border-radius: 0 0 20px 20px;
    padding: 0 30px 60px 30px;
    background-color: var(--white);
    @media (max-width: 991px) {
      padding: 0 20px 40px 20px;
    }

    @media (max-width: 600px) {
      padding: 0 5px 30px 5px;

    }
  }
}

.partners-top-list {
  display: grid;
  grid-template: auto / repeat(12, 1fr);
  grid-template-areas: "item1 item1 item1 item2 item2 item2 item3 item3 item3 item4 item4 item4""item5 item5 item5 item5 item5 item5 item6 item6 item6 item7 item7 item7";
  gap: 30px;

  @media (max-width: 1350px) {
    grid-template-areas: "item2 item2 item2 item2 item3 item3 item3 item3 item4 item4 item4 item4""item5 item5 item5 item5 item6 item6 item6 item6 item7 item7 item7 item7";
  }

  @media (max-width: 991px) {
    grid-template-areas: "item2 item2 item2 item2 item2 item2 item3 item3 item3 item3 item3 item3""item4 item4 item4 item4 item4 item4 item6 item6 item6 item6 item6 item6""item5 item5 item5 item5 item5 item5 item7 item7 item7 item7 item7 item7";
    gap: 20px;
  }

  @media (max-width: 600px) {
    gap: 10px;
  }

  @media (max-width: 450px) {
    grid-template-areas: "item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2""item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3""item4 item4 item4 item4 item4 item4 item6 item6 item6 item6 item6 item6""item7 item7 item7 item7 item7 item7 item7 item7 item7 item7 item7 item7""item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5";
  }

  &:not(:last-child) {
    margin-bottom: 60px;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    border: 1px solid #AAB4C1;
    border-radius: 20px;
    overflow: hidden;
    grid-column: span 6;
    padding: 20px 20px 30px 25px;

    @media (max-width: 991px) {
      padding: 20px 20px 20px 25px;
    }

    @media (max-width: 600px) {
      padding: 10px;
    }

    &_1 {
      border: none;
      grid-area: item1;
      min-height: 216px;

      @media (max-width: 1350px) {
        display: none;
      }
    }

    &_2 {
      grid-area: item2;
      min-height: 216px;

      @media (max-width: 991px) {
        min-height: 169px;
      }

      @media (max-width: 450px) {
        min-height: 108px;
      }
    }

    &_3 {
      grid-area: item3;
      min-height: 216px;

      @media (max-width: 991px) {
        min-height: 169px;
      }

      @media (max-width: 450px) {
        min-height: 108px;
      }
    }

    &_4 {
      grid-area: item4;
      min-height: 216px;

      @media (max-width: 991px) {
        min-height: 192px;
      }

      @media (max-width: 450px) {
        min-height: 81px;
      }
    }

    &_5 {
      grid-area: item5;
      background-color: var(--grey_light);
      min-height: 220px;
      padding: 0;

      @media (max-width: 991px) {
        min-height: 192px;

      }

      @media (max-width: 450px) {
        min-height: 167px;
      }
    }

    &_6 {
      grid-area: item6;
      min-height: 220px;

      @media (max-width: 991px) {
        min-height: 192px;
      }

      @media (max-width: 450px) {
        min-height: 81px;
      }
    }

    &_7 {
      grid-area: item7;
      min-height: 220px;

      @media (max-width: 991px) {
        min-height: 192px;
      }

      @media (max-width: 450px) {
        min-height: 167px;
      }
    }

    & video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__descr {
    padding-top: 56px;

    @media (max-width: 991px) {
      padding-top: 44px;
    }

    @media (max-width: 450px) {
      max-width: 320px;
      padding-top: 0;
      margin-left: 40px;
    }
  }

  &__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: inline-block;
    width: 40px;
    height: 40px;

    @media (max-width: 991px) {
      width: 30px;
      height: 30px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__download {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: var(--gold);
    padding: 6px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    transition: background-color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 14px;
      padding: 6.5px 10px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      padding: 5px 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #F9E2BE;
      }
    }

    &:active {
      background-color: #EFB75D;
      transition-duration: .1s;
    }
  }

  &__download-icon {
    width: 20px;
    height: 20px;

    @media (max-width: 991px) {
      width: 16px;
      height: 16px;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 20px 0 0 0;

    @media (max-width: 991px) {
      width: 44px;
      height: 44px;
    }

    @media (max-width: 600px) {
      width: 37px;
      height: 37px;
    }

    & img {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
      object-position: center;

      @media (max-width: 991px) {
        width: 20px;
        height: 20px;
      }

      @media (max-width: 600px) {
        width: 16px;
        height: 16px;
      }
    }

    &_green {
      background-color: var(--green);
    }

    &_gold {
      background-color: var(--gold);
    }
  }

  &__text {
    margin-top: auto;
    position: relative;
    font-family: 'daysone';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: var(--grey_light);
    padding-left: 13px;

    @media (max-width: 991px) {
      font-size: 12px;
    }

    @media (max-width: 600px) {
      font-size: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--grey_light);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: 600px) {
      padding: 10px 20px;
    }
  }

  &__icon-rybl {
    display: block;
    position: relative;
    z-index: 2;
    width: 62px;
    height: 61px;

    @media (max-width: 991px) {
      width: 50px;
      height: 49px;
    }

    @media (max-width: 600px) {
      width: 40px;
      height: 39px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }

      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__strong {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'daysone';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--white);

    @media (max-width: 991px) {
      font-size: 14px;
      max-width: 265px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
      max-width: 220px;
    }

    &:not(:last-child) {
      margin-bottom: 31px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__wrapper-link {
    position: relative;
    z-index: 2;
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--white);
    border-radius: 6px;
    background-color: var(--gold);
    padding: 13px 20px;
    transition: background-color .2s ease-in-out;

    @media (max-width: 991px) {
      font-size: 14px;
      padding: 10.5px 20px;
    }

    @media (max-width: 600px) {
      font-weight: 400;
      padding: 8.5px 12px;

    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #d6a350;
      }
    }

    &:active {
      background-color: var(--gold);
      transition-duration: .1s;
    }
  }

  &__monets {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 1;

    @media (max-width: 1350px) {
      object-fit: cover;
    }
  }
}

.partners-descr {

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-family: 'daysone';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--grey_light);

    @media (max-width: 991px) {
      font-size: 14px;
      max-width: 100%;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

  }

  &__middle {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 29px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 60px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
    &_log {
      &:not(:last-child) {
  
        @media (max-width: 600px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__column {
    &_none {
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(39, 46, 69, 0.8);

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__bottom {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 29px;

    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 29px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }

  &__copy {
    width: 548px;

    @media (max-width: 1350px) {
      width: 484px;
    }

    @media (max-width: 600px) {
      width: 290px;
    }

    @media (max-width: 359px) {
      width: 250px;
    }
  }

  &__copy-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #AAB4C1;
    border-radius: 6px;
  }

  &__copy-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey_light);

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__copy-value {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    padding: 0 20px;

    @media (max-width: 1350px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  &__copy-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin: -1px -1px -1px 0;
    background-color: var(--gold);
    border-radius: 6px;
    transition: background-color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: #F9E2BE;
      }
    }

    &:active {
      background-color: #EFB75D;
      transition-duration: .1s;
    }

    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
    }

    @media (max-width: 600px) {
      width: 32px;
      height: 32px;
    }

    & img {
      display: block;
      width: 16px;
      height: 16px;
      object-fit: contain;
      object-position: center;
    }
  }

  &__identifikator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    min-height: 134px;

    @media (max-width: 991px) {
      min-height: 108px;
    }

    @media (max-width: 600px) {
      min-height: 102px;
    }
  }

  &__identifikator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__identifikator-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
    color: var(--main);

    @media (max-width: 600px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__identifikator-value {
    display: inline-block;
    border-radius: 6px;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: #000000;
    background-color: var(--white);

    @media (max-width: 991px) {
      padding: 7px 20px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }


}

.button-arrow {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--green);
  border-radius: 2px;
  transition: background-color .2s ease-in-out;
  @media (max-width: 600px) {
    display: flex;
  }

  & span {
    display: inline-block;
    width: 14px;
    height: 8px;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transform: rotate(180deg);
      transition: transform .2s ease-in-out;
    }
  }
}

.partners-table {
  padding: 0 30px 30px 30px;
  border: 1px solid var(--grey_light);
  border-radius: 10px;
  @media (max-width: 1420px) {
    padding: 0 0 30px 0;
  }
  @media (max-width: 600px) {

  }
  &__top {
    display: grid;
    grid-template: auto / minmax(50px, 178px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 130px) minmax(50px, 108px);
    // display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    @media (max-width: 1360px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      grid-template: auto / minmax(50px, 178px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) 24px;
    }
    @media (max-width: 991px) {
      padding: 10px 15px;
    }
    @media (max-width: 945px) {
      grid-template: auto / minmax(75px, 200px)  minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) 24px;
      gap: 15px;
    }
    @media (max-width: 767px) {
      grid-template: auto / minmax(75px, 200px) minmax(50px, 160px) minmax(50px, 160px) 24px;
    }
    @media (max-width: 650px) {
      padding: 10px;
      grid-template: auto / minmax(75px, 145px) minmax(50px, 160px) minmax(50px, 160px) 24px;
    }
    @media (max-width: 550px) {
      gap: 0;
      grid-template: auto / minmax(75px, 145px) minmax(50px, 160px) 24px;
    }
    @media (max-width: 359px) {
      grid-template: auto / minmax(75px, 120px) minmax(50px, 160px) 24px;
    }
  }

  &__text {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: #000000;
    @media (max-width: 1360px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
    &_weight {
      font-weight: 400;
    }
    &_weight-2 {
      text-align: left;
      @media (max-width: 991px) {
        font-size: 12px;
      }
      @media (max-width: 550px) {
        font-size: 10px;
        text-align: center;
        margin-bottom: 5px;
      }
    }
    &_align-left {
      text-align: left;
    }

    &_align-right {
      text-align: right;
    }
    &_none-1 {
      @media (max-width: 1200px) {
        display: none;
      }
    }
    &_none-2 {
      @media (max-width: 945px) {
        display: none;
      }
    }
    &_none-3 {
      @media (max-width: 550px) {
        display: none;
      }
    }
    &_none-4 {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__rows {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        margin-bottom: 15px;
      }
    }
  }

  &__row {
    &:nth-child(odd) {
      & .partners-table__row-content {
        background-color: #F6F6F6;
      }
    }

    &:first-child {
      border-top: 1px solid rgba(170, 180, 193, .6);
    }
    &:last-child {
      border-bottom: 1px solid rgba(170, 180, 193, .6);
    }
    &:nth-child(n + 11) {
      display: none;
    }
  }
  &__row-content {
    display: grid;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    grid-template: auto / minmax(50px, 178px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 130px) minmax(50px, 108px);
    
    @media (max-width: 1360px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      grid-template: auto / minmax(50px, 178px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) 24px;
    }
    padding: 10px 20px;
    @media (max-width: 991px) {
      padding: 10px 14px;
    }
    @media (max-width: 945px) {
      grid-template: auto / minmax(75px, 200px) minmax(50px, 160px) minmax(50px, 160px) minmax(50px, 160px) 24px;
      gap: 15px;
    }
    @media (max-width: 767px) {
      grid-template: auto / minmax(75px, 200px) minmax(50px, 160px) minmax(50px, 160px) 24px;
    }
    @media (max-width: 650px) {
      grid-template: auto / minmax(75px, 145px) minmax(50px, 160px) minmax(50px, 160px) 24px;
      padding: 5px 9px;
    }
    @media (max-width: 550px) {
      grid-template: auto / minmax(75px, 145px) minmax(50px, 160px) 24px;
      gap: 0;
    }
    @media (max-width: 359px) {
      grid-template: auto / minmax(75px, 120px) minmax(50px, 160px) 24px;
    }
  }
  &__row-bottom {
    background-color: var(--white);
    display: none;
    align-items: center;
    gap: 36px;
    @media (max-width: 991px) {
      gap: 12px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      // gap: 15px;
    }


    @media (max-width: 550px) {
      align-items: flex-start;
    }

    &.tab-content-active {
      display: flex;
      animation-name: item-active;
      animation-timing-function: ease-in-out;
      animation-duration: .2s;
    }
  }
  &__row-column {
    display: flex;
    align-items: center;
      gap: 36px;
      padding: 10px 20px;
    @media (max-width: 991px) {
      padding: 10px 14px;
    }
    @media (max-width: 767px) {
      gap: 15px;
    }
    @media (max-width: 600px) {
      padding: 5px 9px;
      gap: 10px;
    }
    &_1 {
      display: none;
      @media (max-width: 945px) {
        display: flex;
      }
      @media (max-width: 450px) {
        gap: 5px;
        padding: 5px 1px;
      }
    }
    &:first-child {
      @media (max-width: 767px) {
        border-bottom: 1px solid #F1F1F1;
      }
    }
  }
  &__row-item {
    display: none;
    align-items: center;
    gap: 20px;
    &_display-1 {
      @media (max-width: 1200px) {
       display: grid;
       grid-template: auto / minmax(50px,130px) minmax(50px,80px);
      }
       @media (max-width: 550px) {
        display: block;
      }
    }
    &_display-2 {
      @media (max-width: 945px) {
        display: grid;
        grid-template: auto / minmax(50px,130px) minmax(50px,80px);
       }
       @media (max-width: 850px) {
        grid-template: auto / minmax(50px,180px) minmax(50px,80px);
       }
        @media (max-width: 550px) {
        display: block;
      }
    }
    &_display-3 {
      @media (max-width: 767px) {
        display: grid;
        grid-template: auto / minmax(50px,180px) minmax(50px,80px);
       }
       @media (max-width: 550px) {
        display: block;
      }
    }
    &_display-4 {
      @media (max-width: 550px) {
        display: block;
      }

    }
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 991px) {
      gap: 10px;
    }
    @media (max-width: 600px) {

    }
  }
  &__button {
    @media (max-width: 1200px) {
      display: block;
    }
    &.tab-button-active {
      background-color: var(--grey_light);
      & span {
        & img {
          transform: translateY(-1px) rotate(0);
        }
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    @media (max-width: 991px) {
      width: 24px;
      height: 24px;
    }
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__name {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    -webkit-line-clamp: 1;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /* Обрезаем всё за пределами блока */
    transition: color .2s ease-in-out;
    @media (max-width: 1360px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 12px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #EFB75D;
      }
    }

    &:active {
      color: #F9E2BE;
      transition-duration: .1s;
    }
  }

  &__wrapper-all {
    text-align: center;
    margin-top: 30px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }

    @media (max-width: 600px) {
      margin-top: 15px;
    }
  }

  &__all {
    display: inline-block;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--main);
    transition: color .2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: #EFB75D;

        & span {
          border-color: #EFB75D;

          &::before {
            border-color: #EFB75D;
          }
        }
      }
    }

    &:active {
      color: #F9E2BE;
      transition-duration: .1s;

      & span {
        border-color: #F9E2BE;
        transition-duration: .1s;

        &::before {
          border-color: #F9E2BE;
          transition-duration: .1s;
        }
      }
    }

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }

    & span {
      position: relative;
      display: block;
      width: 40px;
      height: 26px;
      border: 1px solid #6E7191;
      border-top: navajowhite;
      border-radius: 0 0 4px 4px;
      margin: 0 auto;
      margin-top: 10px;
      transition: border-color .2s ease-in-out;

      @media (max-width: 991px) {
        width: 36px;
        height: 23px;
      }

      @media (max-width: 600px) {
        width: 30px;
        height: 18px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 34%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-right: 2px solid #25282B;
        border-bottom: 2px solid #25282B;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: border-color .2s ease-in-out;

        @media (max-width: 600px) {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.show-partners-table {
  display: none;  
}

.collapse-partners-table {
  display: none;
}

.partners-table__row.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
}

.dropdown-a-active .partners-descr__column_none {
  display: block;
  animation-name: item-active;
  animation-timing-function: ease-in-out;
  animation-duration: .2s;
}

.clicker-text-active span img {
  transform: translateY(-1px) rotate(0);
}
.dropdown-a-active .partners-descr__middle {
  margin-bottom: 20px;
}
// .row-column-active {
//   display: flex;
//   animation-name: item-active;
//   animation-timing-function: ease-in-out;
//   animation-duration: .2s;
// }
// .table-button-active {
//   background-color: var(--grey_light);
//   & span {
//     & img {
//       transform: translateY(-1px) rotate(0);
//     }
//   }
// }
.border-bottom {
  border-bottom: 1px solid rgba(170, 180, 193, .6);
}
.partners-border-none .border-bottom {
  border-bottom: none;
}

@keyframes item-active {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.partners-video {
  cursor: pointer;
}