@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway-Regular'),
       url("../../fonts/Raleway-Regular.woff2") format("woff2"),
       url("../../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'),
       url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto-Medium'),
       url("../../fonts/Roboto-Medium.woff2") format("woff2"),
       url("../../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway-SemiBold'),
       url("../../fonts/Raleway-SemiBold.woff2") format("woff2"),
       url("../../fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway-Bold'),
       url("../../fonts/Raleway-Bold.woff2") format("woff2"),
       url("../../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter-Bold'),
       url("../../fonts/Inter-Bold.woff2") format("woff2"),
       url("../../fonts/Inter-Bold.woff") format("woff");
}