.catalog {
  margin-bottom: 87px;
}

.catalog__head {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.catalog__title  {
  display: inline-block;
  margin-right: 29px;
}

.catalog__list {
  display: flex;
  margin: 0;
  padding: 11px 0 0 0;
}

.catalog__list-item {
  list-style: none;
  margin-right: 30px;
  height: max-content;
  width: max-content;
}

.catalog__tabs-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: max-content;
  width: max-content;
  transition: filter 0.2s ease-in-out;
}

.catalog__tabs-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 36px;
  transition: filter 0.2s ease-in-out;
}

.catalog__tabs-btn:focus-visible {
  outline: none;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 36px;
  transition: filter 0.2s ease-in-out;
}

.catalog__tabs-btn img {
  border: 2px solid transparent;
  border-radius: 36px;
  transition: border-color 0.2s ease-in-out;
}

.catalog__tabs-btn:active img {
  border-color: var(--color-purple-2);
  border-radius: 36px;
  transition: border-color 0.2s ease-in-out;
} 

.catalog__text {
  width: 68%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 38px 0;
  color: var(--color-black);
}

.catalog__tab-content {
  opacity: 0;
  animation-name: catalog-tab;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  display: none;
}

.tab-content-active {
  opacity: 1;
  display: block;
}

.tab-content__item {
  display: flex;
  flex-direction: column;
}

.tab-content__left {
  width: 50%;
}

.italy-description {
  background-image: url(/img/Domeniko-Girlandaio.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 47%;
  margin-right: 2.3%;
  display: none;
  animation-name: italy-painter;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.italy-description-unknown {
  display: none;
}

.italy-description-active {
  display: block;
}

.catalog__content-italy {
  display: flex;
}

.catalog__list-item {
  border: 2px solid transparent;
  border-radius: 50px; 
  padding: 6px 6px 4px 6px;
  margin-top: -10px;
  transition: border-color 0.2s ease-in-out;
}

.catalog__list-item-active {
  border-color: var(--color-purple-2);
  transition: border-color 0.2s ease-in-out;
}

.catalog__subtitle {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 600;
  padding: 66.9% 0 0 0px;
  width: max-content;
  letter-spacing: 1px;
  margin: 0 0 11px 0;
}

.catalog__subtitle span{
  letter-spacing: .6px;
  margin-left: -3px;
}

.italy-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;  
  color: var(--color-gray);
  margin: 6px 0 0 0;
}

.date-life {  
  font-size: 12px;
  font-weight: 400;
  color: var(--color-gray);
}

.catalog__content-unknowm {
  display: flex;
}

.catalog-unknowm-description {
  background-image: url(/img/catalog-unknown-2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2.3%;
  width: 47%;
  animation-name: italy-painter;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.catalog__unknown-subtitle {
  display: inline-block;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 600;
  padding-top: 68%;
  width: max-content;
  margin: 0 0 16px 0;
}

.catalog-unknowm-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;  
  color: var(--color-gray);
  margin: 0 0 16px 0;
}

.catalog-unknown-link  {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-purple) !important;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  padding: 0 3px;
}

.catalog-unknown-link::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 1px;
  bottom: 0;
  left: 3px;
  background-color: var(--color-purple);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-link:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-link:active {
  color: var(--color-purple-2) !important;
  transition: color 0.2s ease-in-out;
}

.catalog-unknown-link:active::after {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-link:focus-visible {
  outline: none;
  background-color: var(--color-purple);
  color: var(--color-white) !important;
  transition: color 0.2s ease-in-out;
}

.catalog__accordion {
  width: 51%;
  margin: 0;
  padding: 0;
}

.catalog__accordion button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 0 8px;
}

.ui-state-active button {
  color: var(--color-purple-2);
  margin: 0 0 0 8px;
}

.italy-painter-list {
  display: flex;
}

.italy-painter {
  padding: 0;
  margin: 4% 5.4% 2% 1.3%;
}

.italy-painter-adaptive {
  display: none;
  padding: 0;
  margin: 33px 0 0 0;
}

.italy-painter:last-child {
  margin-right: 0;
}

.name-italy-painter {
  list-style: none;
  margin: 0 0 14px 0;
}

.italy-painter-link {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  color: var(--color-black);
  background-color: transparent;
  text-decoration: none;
  padding: 3px;
  transition: color 0.2s ease-in-out;
  width: max-content;
}

.italy-painter-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 3px;
  width: 97%;
  height: 1px;
  background-color: var(--color-purple-hover);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.italy-painter-link:hover ,
.italy-painter-link:hover::after {
  opacity: 1;
  color: var(--color-purple-hover);
  transition: color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.italy-painter-link:active {
  color: var(--color-purple-2);
  transition: color 0.2s ease-in-out;
}

.italy-painter-link:active::after {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.italy-painter-link:focus-visible {
  outline: none;
  background-color: var(--color-purple);
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.italy-painter-link-active {
  color: var(--color-purple-2) !important;
}

.ui-corner-top {
  border-radius: 0;
}

.catalog__accordion-item:first-child {
  border-top: 1px solid #CACACA;
}

.catalog__accordion-item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  margin-top: -1px;
  list-style: none;
  transition: border-color 0.2s ease-in-out; 
}

.catalog__accordion-item:hover{
  border-top: 1px solid var(--color-purple);
  border-bottom: 1px solid var(--color-purple);
  transition: border-color 0.2s ease-in-out;
}

.top-line-active:first-child {
  border-top-color: var(--color-purple-2);
}

.top-line-active:first-child .ui-accordion-header-active {
  border-top-color: transparent;
}

.accord-active {
  border-bottom-color: transparent;
}

.remove-top-line:first-child {
  border-top-color:#CACACA;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0;
  cursor: pointer;
}

.catalog__accordion button:focus-visible {
  outline: none;
}

.ui-state-focus:focus-visible {
  outline: none;
}

.ui-state-focus:focus-visible button {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.ui-state-focus:focus-visible .catalog-svg path {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.ui-state-focus:focus-visible .catalog-svg-adaptive circle {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.ui-state-default button {
  transition: color 0.2s ease-in-out;
}

.ui-state-hover:hover button {
  color: var(--color-purple);
  transition: color 0.2s ease-in-out;
}
 
.ui-accordion-header:active {
  border-top-color: var(--color-purple-2);
  border-bottom-color: var(--color-purple-2);
  transition: border-color 0.2s ease-in-out;
}

.ui-accordion-header:active button {
  color: var(--color-purple-2);
  transition: color 0.2s ease-in-out;
}

.ui-state-hover .catalog-svg path {
  transition: fill 0.2s ease-in-out;
}

.catalog-svg-adaptive {
  display: none;
}

.ui-state-default .catalog-svg path {
  transition: fill 0.2s ease-in-out;
}

.ui-state-hover:hover .catalog-svg path {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.ui-state-hover .catalog-svg-adaptive circle {
  transition: fill 0.2s ease-in-out;
}

.ui-state-hover:hover .catalog-svg-adaptive circle {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.ui-accordion-header-active {
  border-top: 1px solid var(--color-purple-2);
  border-bottom: 1px solid var(--color-purple-2);
  color: var(--color-purple-2);
}

.ui-accordion-header-active .catalog-svg path {
  fill: #D1A9F0;
}

.ui-accordion-header-active .catalog-svg-adaptive circle {
  fill: #D1A9F0;
}

.ui-accordion-header .catalog-svg,
.ui-accordion-header .catalog-svg-adaptive {
  border: 2px solid transparent;
  border-radius: 36px;
  transition: border-color 0.2s ease-in-out;
}

.ui-accordion-header-active .catalog-svg,
.ui-accordion-header-active .catalog-svg-adaptive {
  border-color: var(--color-purple-2);
  transition: border-color 0.2s ease-in-out;
}

.ui-accordion-header-active .catalog-svg-adaptive path {
  transform: rotate(-180deg) translateX(-31px) translateY(-31px);
}

.ui-accordion-header-active .catalog-svg .stroke {
  transform: rotate(-181deg) translateX(-50px) translateY(-51px);
}

.ui-accordion .ui-accordion-content {
  padding-left: 0;
  padding-bottom: 0;
}

.ui-widget-content {
  border: 0;
  padding-left: 0;
}

.ui-icon {
  display: none;
}

.catalog-content-unknown {
  display: flex;
}

.catalog-content-unknown img {
  padding: 12px;
  border: 2px solid #B7B7B7;
  margin: 10px 0;
}

.catalog-unknown-text {
  margin: 20px 10px 20px 20px;
  width: 33%;
}

.catalog-unknown-text span {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0 0 5px 0;
}

.catalog-unknown-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-black);
  margin: 0 0 5px 0;
}

.catalog-unknown-text a {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-purple);
  text-decoration: none;
  padding: 4px;
  margin-left: -4px;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.catalog-unknown-text a::after {
  position: absolute;
  content: "";
  width: 94%;
  height: 1px;
  bottom: 0;
  left: 3px;
  background-color: var(--color-purple-hover);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-text a:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-text a:hover {
  color: var(--color-purple-hover);
  transition: color 0.2s ease-in-out;
}

.catalog--unknown-text a:active {
  color: var(--color-purple-2);
  transition: color 0.2s ease-in-out;
}

.catalog-unknown-text a:active::after {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.catalog-unknown-text a:focus-visible {
  outline: 0;
  color: var(--color-white);
  background-color: var(--color-purple-hover);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

@keyframes catalog-tab {

  0% {
  opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes italy-painter {

  0% {
  opacity: 0;
  }

  100% {
    opacity: 1;
  }
}