.contacts {
  max-width: 1920px;
  margin: 0 auto;
  height: max-content;
}

.container-contacts {
  max-width: 1920px;
  padding: 0;
}

.contacts__content {
  display: flex;
  height: 100%;
}

.contacts__title {
  margin-bottom: 21px;
  padding-left: 8.3%;
}

.contacts__form-content {
   width: 22.5%; 
   border: 1px solid #CACACA;
    padding: 6.5% 6.4% 5.3% 8.3%; 
}

.contacts__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  position: relative;
  margin: 0 0 3px 0;
}

.js-validate-error-label {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 12px;
}

.contacts__form input {
  padding: 10px 10px 10px 23px;
  border-radius: 100px;
  width: 92%;
  margin: 20px 0 0 0;
  border: 1px solid var(--color-black);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: transparent;
  -webkit-appearance: none;
   outline: none;
}

.contacts__form input:hover {
  background-color: #EAEAEA;
  transition: background-color 0.3s ease-in-out;
}

.contacts__form input:focus-visible {
  outline: none;
  background-color: #EAEAEA;
  transition: background-color 0.3s ease-in-out;
}

.contacts__address,
.contacts__address-adaptive {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  color: var(--color-black);
  font-style: normal;
  margin-bottom: 30px;
}

.contacts__address-adaptive {
  display: none;
}

.contacts__address-item,
.contacts__address-item-adaptive {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-black);
  text-align: left;
  font-style: normal;
  letter-spacing: .4px;
}

.contacts__address-item-adaptive {
  display: none;
}

.contacts__form-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-black);
  margin: 0;
}

.contacts__form-btn {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  background-color: transparent;
  width: max-content;
  padding: 18px 37px;
  border-radius: 50px;
  margin: 17px 0 42px 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.contacts__form-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -7px;
  left: -7px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.contacts__form-btn:hover {
  border-color: var(--color-purple);
  background-color: var(--color-purple);
  outline: none;
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.contacts__form-btn:focus-visible {
  outline: none;
}

.contacts__form-btn:focus-visible::before {
  border-color: var(--color-purple-hover);
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.contacts__form-btn:active {
  border-color: var(--color-purple-hover);
  background-color: var(--color-purple-2);
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
}

.contacts__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-black);
  margin: 0;
}

.contacts__social-list {
  display: flex;
  padding: 0;
}

.contacts__social-list li:not(:last-child) {
  margin: 0 12px 0 0;
}

.contacts__social-icon-wa ,
.contacts__social-icon-tg {
  list-style: none;
}

.contacts-svg-adaptive,
.contacts-svg-adaptive-320 {
  display: none;
}

.contacts__social-icon-wa .contacts-svg-decsp ,
.contacts__social-icon-tg .contacts-svg-decsp {
  border: 2px solid transparent;
  border-radius: 36px;
  transition: opacity 0.2s ease-in-out;
}

.contacts__social-icon-wa:hover .contacts-svg-decsp ,
.contacts__social-icon-tg:hover .contacts-svg-decsp {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.contacts__social-icon-wa:active .contacts-svg-decsp ,
.contacts__social-icon-tg:active .contacts-svg-decsp {
  border-color: var(--color-purple-2);
  border-radius: 36px;
}

.contacts__social-icon-wa a:focus-visible .contacts-svg-decsp ,
.contacts__social-icon-tg a:focus-visible .contacts-svg-decsp {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.contacts__social-icon-wa a:focus-visible ,
.contacts__social-icon-tg a:focus-visible {
  outline: 0;
}

.contacts__social-icon-wa .contacts-svg-adaptive ,
.contacts__social-icon-tg .contacts-svg-adaptive {
  border: 2px solid transparent;
  border-radius: 36px;
  transition: opacity 0.2s ease-in-out;
}

.contacts__social-icon-wa:hover .contacts-svg-adaptive ,
.contacts__social-icon-tg:hover .contacts-svg-adaptive {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.contacts__social-icon-wa:active .contacts-svg-adaptive ,
.contacts__social-icon-tg:active .contacts-svg-adaptive {
  border-color: var(--color-purple-2);
  border-radius: 36px;
}

.contacts__social-icon-wa a:focus-visible .contacts-svg-adaptive ,
.contacts__social-icon-tg a:focus-visible .contacts-svg-adaptive {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

.contacts__map {
  width: 70%;
  box-sizing: border-box;
}

.ymaps-2-1-79-map {
  width: 100%;
  height: 100%;
}

.ymaps-2-1-79-copyright,
.ymaps-2-1-79-copyright__link,
.ymaps-2-1-79-copyright__layout .ymaps-2-1-79-copyright__logo {
  display: none;
}