.developments {
  margin-bottom: 82px;
}

.developments__content {
  display: flex;
  flex-direction: column;
}

.developments__title {
  margin-bottom: 22px;
}

.developments__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.developments__list-adaptive,
.swiper-developments {
  display: none;
}

.slide-developments-1,
.slide-developments-2,
.slide-developments-3,
.slide-developments-4,
.slide-developments-5 {
  list-style: none;
}

.editions-wrapper-slider {
  padding: 0;
}

.developments__item {
  display: flex;
  flex-direction: column;
  background-image: url(/img/developments-1.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  list-style: none;
  flex: 0 1 31.1%;
  margin: 0 3.1% 2.5% 0;
  border: 1px solid #CACACA;
}

.developments__item:nth-child(3n) {
  margin-right: 0;
}

.developments__item:nth-child(2) {
  background-image: url(/img/developments-2.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

.developments__item:nth-child(3) {
  background-image: url(/img/developments-3.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

.developments__item:nth-child(4) {
  background-image: url(/img/developments-4.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

.developments__item:nth-child(5) {
  background-image: url(/img/developments-5.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

.developments__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #999999;
  margin-left: auto;
  text-align: end;
  margin: 63% 17px 5px 0;
}

.one-date {
  letter-spacing: .3px;
}

.developments__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-black);
  margin: 0 26px 3px 51px;
  letter-spacing: .6px;
}

.developments__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
  margin: 0 40px 84px 50px;
  flex: 1 1 auto;
}

.developments__links {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-purple);
  margin: 0 0 36px 47px;
  padding: 2px 3px 5px 3px;
  text-decoration: none;
  width: max-content;
  transition: color 0.2s ease-in-out;
}

.developments__links::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 1.5px;
  background-color: var(--color-purple);
  bottom: 6px;
  left: 3px;
  transition: background-color 0.2s ease-in-out;
}

.developments__links:hover {
  color: var(--color-purple-2);
  transition: color 0.2s ease-in-out;
}

.developments__links:hover::after {
  background-color: var(--color-purple-2);
  transition: background-color 0.2s ease-in-out;
}

.developments__links:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-purple);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.developments__links:focus-visible::after {
  background-color: var(--color-white);
}

.developments__links:active {
  color: var(--color-black);
}

.developments__links:active::after {
  background-color: var(--color-black);
}

.developments__btn,
.developments__btn-adaptive {
  font-size: 18px;
  font-weight: 700;;
  text-align: center;
  align-self: center;
  color: var(--color-purple);
  padding: 1.1% 2.3%;
  border: 2px solid var(--color-purple);
  border-radius: 30px;
  background-color: transparent;
  margin: .7% 0 0 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.developments__btn-adaptive {
  display: none;
}

.developments__btn:focus-visible {
  outline: none;
  background-color: var(--color-purple);
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.developments__btn:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.developments__btn:active {
  background-color: var(--color-purple-2);
  color: var(--color-white);
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.btn__disabled {
  display: none;
}