.editions {
  background-image: url(/img/editions.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 763px;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.editions__content {
  display: flex;
}

.editions__content-left {
  margin: 0 1% 0 0
}

.editions__title,
.editions__title-adaptive {
  color: var(--color-white);
  padding: 84px 0 0 0;
  margin: 0 0 28px 0;
}

.editions__title-adaptive {
  display: none;
}

.editions__subtitle,
.editions__subtitle-adaptive {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
  margin: 0 0 13px 0;
  letter-spacing: .7px;
}

.editions__subtitle-adaptive {
  display: none;
}

.editions__form-adaptive,
.editions__dropdown,
.editions__category-elements  {
  display: none;
}

.subtitle-price {
  margin: 27px 0 15px 0;
}

 .editions__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
} 

.editions__category-wrapper {
  margin: 0 0 14px 0;
}

.editions__category {
  position: relative;
  padding: 0 0 0 23px;
  display: inline-block;
  cursor: pointer;
}

.editions__input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; 
  width: 100%;
  cursor: pointer;
}

.editions__category-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer; 
  background-color: transparent;
  border: none;
  position: relative;
  transition: color .3s ease-in-out;
  letter-spacing: .1px;
}

.editions__custom-checkbox {
  position: absolute;
  width: 20px;
  height: 15px;
  left: 0;
  bottom: 0;
}

  .editions__custom-checkbox::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-white);
  top: 0;
  left: 0 ;
  opacity: 1;
  transition: border-color .3s ease-in-out;
}

.editions__custom-checkbox::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 30px;
  top: 4px;
  left: 4px ;
  opacity: 0;
}

.editions-category-adaptive {
  position: relative;
  color: var(--color-white);
  padding: 0 0 0 24px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer; 
  width: 100%;
  background-color: transparent;
  border: none;
  display: none;
  text-align: left;
  display: inline-block;
}

.editions__category:hover , 
.editions__category .editions__custom-checkbox:hover::before
.editions-category-adaptive:hover ,
.editions-category-adaptive span:hover::before { 
  color: var(--color-purple-hover);
  border-color: var(--color-purple-hover);
}

.editions-category-adaptive span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-white);
  top: 4.5px;
  left: 0px ;
  opacity: 1;
} 

 .editions-category-adaptive span::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 30px;
  top: 9px;
  left: 4px ;
  opacity: 0;
}

.editions__input:checked + .editions__custom-checkbox::after {
  opacity: 1;
  background-color: var(--color-purple-hover);
}

.editions__input:checked + .editions__custom-checkbox::before {
  border-color: var(--color-purple-hover);
}

.editions__input:checked ~ .editions__category-text {
  color: var(--color-purple-hover);
}

.editions__category:hover .editions__category-text {
  color: var(--color-purple-hover);
  transition: color .3s ease-in-out;
}

.editions__category:hover .editions__custom-checkbox::before { 
  border-color: var(--color-purple-hover);
  transition: border-color .3s ease-in-out;
}

.editions__input:focus-visible + .editions__custom-checkbox::before {
  border-color: var(--color-purple-hover);
} 

.editions__input:focus-visible ~ .editions__category-text {
  color: var(--color-purple-hover);
} 

.editions-price,
.editions-price-adaptive {
  position: relative;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  width: 275px;
  height: 36px;
  z-index: 1;
}

.editions-price-adaptive {
  display: none;
}

.editions-field-price {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: rgba(157, 92, 208, 0.5);
  width: 65px;
  height: 36px;
  top: -1px;
  outline: none;
  padding: 0 0 0 7.5px;
  border: 1px solid transparent;
  z-index: 2;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.editions-price-text {
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  padding: 0 9.5px;
  color: var(--color-white);
}

.editions-field-price::placeholder {
  color: var(--color-white);
}

.editions-field-price:focus-visible::placeholder {
  opacity: 0;
}

.editions-field-price:hover {
  background-color: var(--color-purple);
  transition: background-color 0.2s ease-in-out;
}

.editions-field-price:focus-visible {
  background-color: var(--color-purple);
  border-color: var(--color-white);
  outline: none;
  transition: background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.editions-field-price:active {
  border-color: transparent;
  background: var(--color-purple-2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus-visible {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editions-slider-wrapper {
  width: 72.5%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6.9% 0 10px 0;
  margin: 0 0 0 9.9%;
}

.editions-slider {
  width: 100%;
  overflow: hidden;
  padding: 0 0 10px 0;
}

.editions-slides {
  width: 350px !important;
}

.editions-slide-6 {
  margin-right: 80px !important;
}

.editions-card-body {
  display: flex;
  justify-content: space-between;
}

.editions-card-descr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}

.editions-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-white);
  margin: 20px 3px 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 74%;
}

.editions-card-text span {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
  letter-spacing: 0.8px;
}

.editions-card-price {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  color: var(--color-white);
  margin: 20px 0 0 0;
}

.editions-card-btn {
  position: relative;
  border: 2px solid var(--color-purple);
  background-color: transparent;
  padding: 9px 23px;
  border-radius: 100px;
  color: var(--color-white);
  cursor: pointer;
  width: max-content;
}

.editions-card-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -7px;
  left: -7px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.editions-card-btn:hover {
  border-color: var(--color-purple);
  background-color: var(--color-purple);
  outline: none;
}

.editions-card-btn:focus-visible {
  outline: none;
}

.editions-card-btn:focus-visible::before {
  border-color: var(--color-purple-hover);
  outline: none;
}

.editions-card-btn:active {
  border-color: var(--color-purple-hover);
  background-color: var(--color-purple-2);
}

.editions__slider-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 25px 0;
  position: relative;
  top: 0;
  left: -4px;
}

.swiper-button-prev-editions {
  height: max-content;
  width: max-content;
  margin: 0 7px 0 2px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.swiper-pagination-editions {
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  margin: 8px 18px 0 8px;
}

.swiper-button-next-editions {
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.swiper-button-prev-editions svg,
.swiper-button-next-editions svg {
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
  border-radius: 100px;
}

.swiper-button-next-editions svg path,
.swiper-button-prev-editions svg path {
  transition: fill 0.2s ease-in-out;
  border-radius: 100px;
}

.swiper-button-prev-editions:focus-visible ,
.swiper-button-next-editions:focus-visible {
  outline: none;
  border-radius: 100px;
}

.swiper-button-prev-editions:focus-visible svg,
.swiper-button-next-editions:focus-visible svg {
  outline: none;
  border-color: black;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-prev-editions:hover svg path,
.swiper-button-next-editions:hover svg path {
  fill: var(--color-purple);
  transition: fill 0.2s ease-in-out;
  border-radius: 100px;
}

.swiper-button-prev-editions:active svg path,
.swiper-button-next-editions:active svg path{
  outline: none;
  border-radius: 100px;
  fill: var(--color-purple-2);
  transition: fill 0.2s ease-in-out;
}

.swiper-button-prev-editions:active svg,
.swiper-button-next-editions:active svg {
  border-color: black ;
  border-radius: 100px;
}

.editions__list-adaptive {
  display: none;
}

.editions-slide-3 {
  margin-right: 62px !important;
}