.footer {
  width: 100%;
  background-color: #000000;
  margin: 0 auto;
  min-height: 140px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0 0 0;
}

.footer__social-links-blanchard {
  margin: -2px 0 0 0;
  padding: 0;
  display: flex;
}

.footer__social-links-blanchard li {
  list-style: none;
}

.footer__social-item-blanchard {
  text-decoration: none;
}

.footer__social-links-blanchard li:not(:last-child) {
  margin-right: 20px;
}

.footer-svg-adaptive,
.footer-svg-adaptive-320 {
  display: none;
}

.footer__social-item-blanchard .footer-svg-decsp path {
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:hover .footer-svg-decsp path  {
  fill: var(--color-white);
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:active .footer-svg-decsp path  {
  fill: var(--color-purple);
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:focus-visible ,
.footer__social-item-blanchard:focus-visible .footer-svg-decsp path  {
  fill: var(--color-white);
  transition: fill 0.2s ease-in-out;
  outline: none;
}

.footer__social-item-blanchard .footer-svg-adaptive path {
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:hover .footer-svg-adaptive path  {
  fill: var(--color-white);
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:active .footer-svg-adaptive path  {
  fill: var(--color-purple);
  transition: fill 0.2s ease-in-out;
}

.footer__social-item-blanchard:focus-visible ,
.footer__social-item-blanchard:focus-visible .footer-svg-adaptive path  {
  fill: var(--color-white);
  transition: fill 0.2s ease-in-out;
  outline: none;
}

.footer__logo-320 {
  display: none;
}

.footer__logo:focus-visible {
  outline: 2px solid var(--color-purple-2);
}