.gallery {
  background-image: url(/img/gallery-fon.png);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 77px;
  overflow: hidden;
}

.gallery__content {
  display: flex;
  padding: 0 0 60px 0;
}

.gallery-left-content {
  width: 24.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 3% 0 0;
}

.gallery-right-content {
  width: 75%;
}

.gallery-top {
  margin: 83px 0 0  0;
}

.gallery__title {
  color: var(--color-white);
  margin: 0 0 30px 0;
}

.gallery__subtitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  margin: 0 0 15px 0;
  letter-spacing: .6px;
}

.choices {
  width: 100%;
  overflow: visible;
  transition: background-color 0.2s ease-in-out;
  border-radius: 6px;
  border: 1px solid var(--color-white);
}

.choices1 {
  position: relative;
  width: 100%;
  overflow: visible;
  transition: background-color 0.2s ease-in-out;
  border-radius: 6px;
  border: 1px solid var(--color-white);
}

.choices.is-focused,
.choices1.is-focused {
  outline: none;
  background-color: transparent;
}


.choices:focus-visible,
.choices:hover,
.choices1:focus-visible,
.choices1:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.choices::before,
.choices1::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: none;
  background-color: transparent;
  border-right: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
  right: 15px;
  top: 15px;
  transform: rotate(135deg);
  transition: transform 0.2s ease-in-out;
}

.choices.is-open::before,
.choices1.is-open::before {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-in-out;
}

.choices__list.choices__list--single {
  padding: 0;
  background-color: transparent;
}

.choices__inner {
  background-color: transparent;
  border: none;
  width: 97%;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  min-height: auto;
  border-color: var(--color-white);
}

.choices[data-type*=select-one] .choices__inner,
.choices1[data-type*=select-one] .choices__inner {
  padding: 10px 0 10px 14px;
}

.choices__list.choices__list--dropdown.is-active {
  background-color: transparent;
  border-radius: 6px;
  border-color: var(--color-white);
  width: 99.5%;
  display: block;
  opacity: 1;
}

.choices1 {
  display: none;
}

.choices__list.choices__list--dropdown {
  display: none;
  animation-name: choise-dropdown;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  opacity: 0;
}

.choise[data-type*=select-one].is-open::after,
.choise1[data-type*=select-one].is-open::after {
  border-color: var(--color-white);
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  padding: 10px 10px 10px 15px;
}

.choices__item.is-highlighted:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.choices .choices__list.choices__list--dropdown .is-selected {
  display: none; 
}

.choices1 .choices__list.choices__list--dropdown .is-selected {
  display: none; 
}

.gallery__text,
.gallery__text-adaptive {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-white);
  width: 90%;
  margin: 0;
  padding: 0 0 11px 0;
  letter-spacing: .4px;
}

.gallery__text-adaptive {
  display: none;
}

.gallery__link {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-purple);
  background-color: transparent;
  text-decoration: none;
  padding: 1px 3px;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  letter-spacing: .2px;
}

.gallery__link:focus-visible {
  outline: none;
  background-color: var(--color-purple);
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.gallery__link:hover {
  color: var(--color-purple-hover);
  transition: color 0.2s ease-in-out;
}

.gallery__link:active {
  color: var(--color-purple-2);
}

.gallery-sliders-hover {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 350px;
  z-index: 1;
  margin-right: 51px !important;
  width: 350px !important;
  padding: 0;
  background-image: transparent;
  transition: background-image .2s ease-in-out;
}

.gallery-sliders-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 99.5%;
  background-image: url(/img/gallery-img-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery-sliders-hover:focus-visible {
  outline: none;
}

.gallery-sliders-hover:focus-visible img {
  outline: 2px solid var(--color-purple-2);
}

.gallery-sliders-hover:active {
  outline: 2px solid rgba(194, 131, 243, 0.4);
}

.gallery-sliders-hover:active::before {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/gallery-img-hover.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image .2s ease-in-out;
}

.gallery-sliders-hover:hover::before {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.gallery-sliders img {
  height: 100%;
}

.gallery-slider-wrapper {
  width: 72%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6.3% 0 0 0;
  height: 835px;
}

.gallery-slider-wrapper-two {
  width: 72%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6.3% 0 0 0;
  height: 835px;
  display: none;
}

.gallery-slider-wrapper-three {
  width: 72%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6.3% 0 0 0;
  height: 835px;
  display: none;
}

.gallery-slider {
  width: 100%;
  overflow: hidden;
  height: max-content;
}

.gallery-slider-two {
  width: 100%;
  overflow: hidden;
  height: max-content;
}
.gallery-slider-three {
  width: 100%;
  overflow: hidden;
  height: max-content;
}

.gallery__slider-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 21px 0;
  position: relative;
  top: 0;
  left: 0;
}

.wrapper-one-slide,
.wrapper-two-slide,
.wrapper-three-slide {
  height: 770px;
  margin: 0 0 0 5px;
  padding: 3px 0 0 0;
}

.swiper-pagination-gallery,
.swiper-pagination-gallery-two,
.swiper-pagination-gallery-three {
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  margin: 9px 11px 0 0;
}

.swiper-button-prev-gallery,
.swiper-button-prev-gallery-two,
.swiper-button-prev-gallery-three {
  height: max-content;
  width: max-content;
  margin: 0 12px 0 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.swiper-button-next-gallery,
.swiper-button-next-gallery-two,
.swiper-button-next-gallery-three {
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.swiper-button-prev-gallery svg,
.swiper-button-next-gallery svg,
.swiper-button-prev-gallery-two svg,
.swiper-button-next-gallery-two svg,
.swiper-button-prev-gallery-three svg,
.swiper-button-next-gallery-three svg  {
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-next-gallery:active svg path, 
.swiper-button-prev-gallery:active svg path,
.swiper-button-next-gallery-two:active svg path, 
.swiper-button-prev-gallery-two:active svg path,
.swiper-button-next-gallery-three:active svg path, 
.swiper-button-prev-gallery-three:active svg path {
  transition: fill 0.2s ease-in-out;
}

.swiper-button-prev-gallery:focus-visible,
.swiper-button-next-gallery:focus-visible,
.swiper-button-prev-gallery-two:focus-visible,
.swiper-button-next-gallery-two:focus-visible,
.swiper-button-prev-gallery-three:focus-visible ,
.swiper-button-next-gallery-three:focus-visible {
  outline: none;
}

.swiper-button-prev-gallery:focus-visible svg,
.swiper-button-next-gallery:focus-visible svg,
.swiper-button-prev-gallery-two:focus-visible svg,
.swiper-button-next-gallery-two:focus-visible svg,
.swiper-button-prev-gallery-three:focus-visible svg,
.swiper-button-next-gallery-three:focus-visible svg {
  outline: none;
  border-color: black;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-prev-gallery:hover svg path,
.swiper-button-next-gallery:hover svg path,
.swiper-button-prev-gallery-two:hover svg path,
.swiper-button-next-gallery-two:hover svg path,
.swiper-button-prev-gallery-three:hover svg path,
.swiper-button-next-gallery-three:hover svg path {
  fill: var(--color-purple);
  transition: fill 0.2s ease-in-out;
}

.swiper-button-prev-gallery:active svg path,
.swiper-button-next-gallery:active svg path,
.swiper-button-prev-gallery-two:active svg path,
.swiper-button-next-gallery-two:active svg path,
.swiper-button-prev-gallery-three:active svg path,
.swiper-button-next-gallery-three:active svg path {
  fill: var(--color-purple-2);
}

.swiper-button-prev-gallery:active svg,
.swiper-button-next-gallery:active svg,
.swiper-button-prev-gallery-two:active svg,
.swiper-button-next-gallery-two:active svg,
.swiper-button-prev-gallery-three:active svg,
.swiper-button-next-gallery-three:active svg {
  border-color: black;
  border-radius: 100px;
}

.swiper-button-next-gallery {
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.gallery-two-slide-7,
.gallery-two-slide-8,
.gallery-three-slide-7,
.gallery-three-slide-8 {
  display: none;
  background-color: transparent;
  border: none;
}

.swiper-button-next-gallery {
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.gallery-popup-slide {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out 0s;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  animation-name: popup;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

.slide-popup-active {
  opacity: 1;
  visibility: visible;
  display: block;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content{
  position: relative;
  display: flex;
  width: 900px;
  height: 500px;
  background-color: var(--color-white);
  margin: 10% 0 0 0;
  z-index: 101;
}

.popup-content img {
  height: 100%;
}

.popup-body {
  position: relative;
  padding: 0 50px;
  align-self: center;
  width: 45%;
}

.disabled {
  display: none;
}

.popup-unknown-body {
  padding: 0 50px 0 25px;
}

.popup-title{
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.name-painter{
  font-size: 24px;
  font-weight: 600;
  color:#333333;
  line-height: 26px;
}

.name-paint{
  font-size: 16px;
  font-weight: 600;
  color:#333333;
  line-height: 26px;
}

.closepopup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.data-paint{
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  line-height: 26px;
}

.popup-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color:#333333;
}

.popup-close {
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: transparent;
  border: none;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 44;
}

.popup-close::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000000;
  top: 10px;
  right: 5px;
  transform: rotate(45deg);
}

.popup-close::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000000;
  bottom: 9px;
  right: 5px;
  transform: rotate(-45deg);
}

.scroll-hidden {
  overflow: hidden;
  padding-right: 17px;
}

@keyframes popup {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes choise-dropdown {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}