.header {
  position: absolute;
  min-height: 170px;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__content-top {
  background-color: #000000;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
}

.header__logo {
  padding: 30px 0 20px 10px;
}

.header__logo:focus {
  outline: 2px solid var(--color-purple-2);
}

.header__nav {
  margin: 5px 100px 0 0;
}

.header__links {
  display: flex;
  padding: 0;
}

.header__links-item {
  list-style: none;
  padding-right: 65px;
}

.header__links-item:last-child {
  padding-right: 0;
}

.header__links-item a {
  font-size: 18px;
  color: var(--color-white);
  text-decoration: none;
}

.header__links-item a:hover {
  color: var(--color-purple-hover);
}

.header__links-item a:focus {
  background-color: var(--color-purple-2);
  outline: 0;
}

.header__links-item a:active {
  color: var(--color-purple);
  background-color: transparent;
}

.header__link {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: var(--color-white);
  text-decoration: none;
}

.header__link:hover {
  color: var(--color-purple-hover);
}

.header__link:hover svg path {
  fill: var(--color-purple-hover);
}

.header__link:active {
  color: var(--color-purple);
  background-color: transparent;
}

.header__link:active svg path {
  fill: var(--color-purple);
  background-color: transparent;
}

.header__link:focus {
  background-color: var(--color-purple-2);
  outline: 0;
}

.header__link img {
  padding: 0 0 0 0;
}

.header__content-bottom {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.header__search {
  margin: 25px 10px 0 0;
  width: 12.7%;
}

.header__form {
  display: flex;
  position: relative;
}

.header__search-btn { 
  position: absolute;
  left: -35px;
  top: 1px;
  background-color: transparent;
  border: 0;
  order: 1;
  cursor: pointer;
}

.header__search-item {
  z-index: 33;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-white);
  order: 2;
  padding: 0 0 3px 0;
  opacity: 1;
  text-align: left;
}

.header__search-item:hover {
  border-color: var(--color-purple-hover);
  outline: 0;
}

.header__search-item:focus {
  border-color: var(--color-purple-hover);
  outline: 0;
}

.header__search-item::placeholder {
  color: var(--color-white);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
  width: 65.5%;
}

.header__menu-item {
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  color: var(--color-white);
  border: 0;
}

.choices {
  padding-right: 15px; 
  margin-bottom: 0; 
}

.choices__inner {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  min-height: auto;
  padding: 0 10px 0 0 !important;
}

.choices__list--single:hover {
  color: var(--color-purple);
}

.choices__list--single:active {
  color: var(--color-purple-2);
}

.choices__placeholder {
  opacity: 1;
}

.choices::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 1.3px;
  background: var(--color-white);
  right: 12px;
  bottom: 8px;
  transform: rotate(43deg);
}  

 .choices::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 1.3px;
  background: var(--color-white);
  bottom: 8px;
  right: 6px;
  transform: rotate(-43deg);
} 

.choices:hover::before {
  background: var(--color-purple);
} 

.choices:hover::after {
  background: var(--color-purple);
} 

 .choices:active::before {
  background: var(--color-purple-2);
} 

.choices:active::after {
  background: var(--color-purple-2);
} 

.is-open::before {
  transform: rotate(135deg);
}

.is-open::after {
  transform: rotate(-135deg);
}

.is-focused {
  background-color: var(--color-purple-2);
}

 .is-focused {
  background-color: var(--color-purple-2);
} 

#choices--select-1l-item-choice-5 ,
#choices--select-1l-item-choice-3 {
  display: none;
}

.choices__list--dropdown {
  width: 300px;
  border: none;
  top: 45px;
  right: -100px;
}

.choices__list--dropdown .choices__item {
  padding: 30px;
}

.choices__list {
  background: rgba(0, 0, 0, 0.4);
}

.choices__list--dropdown .choices__item {
  color: var(--color-white);
  background-image: url(/img/header-custom-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  padding: 10px 0 10px 12px;
  margin: 40px;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item:hover {
  border: 2px solid var(--color-purple);
  padding: 8px 0 8px 12px;
}

.choices__list--dropdown .choices__item:active {
  border: 2px solid var(--color-purple);
  padding: 8px 0 8px 12px;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4))
}

.choices__list--single { 
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  z-index: 5;
  background: transparent;
  padding: 0;
}

.choices__list--single .choices__item  {
  padding-right: 3px;
}