.hero {
  position: relative;
  z-index: 3;
  margin-bottom: 3px;
  max-width: 1920px;
  left: 50%;
  top: -82px;
  transform: translateX(-50%);
  overflow: hidden;
}

.hero__content {
  position: relative;
  padding: 9.5% 5% 9.2% .5%;
  z-index: 2;
}

.hero__title {
  width: 50%;
  font-family: 'OpenSans700';
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: var(--color-white);
  margin: 0 0 20px 0;
}

.hero__title-adaptive {
  display: none;
}

.hero__text {
  font-family: 'OpenSans700';
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-white);
  width: 40%;
  padding: 0 0 7.6% 0;
  margin: 0;
}

.hero__btn {
  position: relative;
  border: 3px solid transparent;
  font-family: 'OpenSans700';
  font-weight: 700;
  font-size: 18px;
  padding: 20px 32px;
  background: var(--color-purple);
  border-radius: 40px;
  color: var(--color-white);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}

.hero__btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -11px;
  left: -11px;
  padding: 8px;
  border: 3px solid transparent;
  transition: border-color 0.2s ease-in-out;
  border-radius: 40px;
}

.hero__btn:hover {
  border-color: #D1A9F0;
  transition: border-color 0.2s ease-in-out;
}

.hero__btn:focus-visible {
  outline: none;
}

.hero__btn:focus-visible::before {
  outline: none;
  border-color: var(--color-purple-hover);
  transition: border-color 0.2s ease-in-out;
  border-radius: 40px;
}

.hero__btn:active {
  background-color: var(--color-purple-2);
}

.swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slide-1 {
  background-image: url(/img/hero-1.png);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  min-height: 800px;
}

.slide-2 {
  background-image: url(/img/hero-2.png);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  min-height: 800px;
}

.slide-3 {
  background-image: url(/img/hero-3.png);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  min-height: 800px;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.1);
  }
}