.projects {
  min-height: 563px;
  margin-bottom: 72px;
}

.projects__content {
  padding: 0 10px;
}

.projects__title {
  margin-bottom: 24px;
}

.projects__subtitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0 0 24px 0;
}

.projects__text-wrapper {
  position: relative;
  width: 66%;
  margin: 0 0 23px 0;
  z-index: 1;
}

.projects__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.projects__link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-purple);
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.projects__link:after {
  content: "";
  position: absolute;
  width: 97%;
  height: 2px;
  background: var(--color-purple);
  bottom: 0;
  left: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.projects__link:hover:after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.projects__link:active {
  color: var(--color-purple-2);
}

.projects__link:active:after {
  background: var(--color-purple-2);
  opacity: 1;
}

.projects__link:focus-visible {
  outline: none;
  background-color: var(--color-purple) ;
  color: var(--color-white);
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.projects-tooltip-one {
  position: relative;
  left: -1px;
  bottom: 3px;
  z-index: 22;
}

.projects-tooltip-two {
  position: relative;
  left: 0;
  bottom: 3px;
  z-index: 22;
}

.projects-tooltip-three {
  position: relative;
  left: 3px;
  bottom: 3px; 
  z-index: 22;
}

.marker {
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  height: 16px;
  border: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}

.marker svg {
  border: 1px solid var(--color-purple);
  border-radius: 36px;
}

.marker .path-color {
  transition: fill 0.2s ease-in-out;
}

.marker .path-color:hover {
  fill: var(--color-purple-hover);
  transition: fill 0.2s ease-in-out;
}

.marker:focus-visible {
  outline: none;
}

.marker:focus-visible .path-color {
  fill: var(--color-purple-hover);
  transition: fill 0.2s ease-in-out;
}

.marker .path-color:active {
  fill: var( --color-purple);
}

.marker:active svg .path-subcolor {
  fill: var(--color-white);
}

.tooltip-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: var( --color-purple);
  padding: 8px 11px 12px 11px;
  margin: 0;
  color: white;
  transition: opacity .3s ease-out;
  display: none;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: max-content;
  z-index: 1;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6.5px 0 6.5px;
  border-color: var( --color-purple) transparent transparent transparent;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.marker:hover + .tooltip-text,
.marker:focus-visible + .tooltip-text {
  display: block;
}

.projects-slider {
  width: 92%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-projects {
  position: relative;
  padding: 0 10px;
}

.swiper-wrapper-projects {
  padding: 4px 0;
}

 .projects-partner-link {
  display: inline-block;
  border: 1px solid #CACACA;
} 

.projects-partner-img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: .3;
  transition: opacity 0.2s ease-in-out;
} 

.projects-partner-img:hover{
  filter: grayscale(0);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.projects-partner-link:focus-visible {
  border-color: var(--color-purple-hover);
  outline:none;
}

.projects-partner-link:active,
.projects-partner-img:active {
  border-color: var(--color-purple-hover);
  filter: grayscale(0);
}

.swiper-button-projects-prev { 
  position: absolute;
  width: max-content;
  height: max-content;
  left: .4%;
  top: 36%;
  cursor: pointer;
}

.swiper-button-projects-next {
  position: absolute;
  width: max-content;
  height: max-content;
  right: -.5%;
  top: 36%;
  cursor: pointer;
} 

.swiper-button-projects-next svg,
.swiper-button-projects-prev svg {
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev svg path 
.swiper-button-projects-next svg path {
  transition: fill 0.2s ease-in-out;
}

.swiper-button-projects-prev::after ,
.swiper-button-projects-next::after {
  content: "";
}

.swiper-button-projects-prev:focus-visible ,
.swiper-button-projects-next:focus-visible {
  outline: none;
}

.swiper-button-projects-prev:focus-visible svg,
.swiper-button-projects-next:focus-visible svg {
  outline: none;
  border-color: var(--color-purple);
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev:hover svg path,
.swiper-button-projects-next:hover svg path {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.swiper-button-projects-next:active svg,
.swiper-button-projects-prev:active svg {
  border-color: var(--color-purple);
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev:active svg path,
.swiper-button-projects-next:active svg path{
  outline: none;
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}
