.projects {
  min-height: 563px;
  margin-bottom: 78px;
}

.projects__title {
  margin-bottom: 21px;
}

.projects__subtitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0 0 20px 0;
  letter-spacing: .5px;
}

.projects__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
  width: 65%;
  margin: 0 0 23px 0;
}

.projects__link {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-purple);
  text-decoration: none;
  padding: 2px;
  letter-spacing: .3px;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.projects__link:after {
  content: "";
  position: absolute;
  width: 97%;
  height: 2px;
  background: var(--color-purple);
  bottom: 0;
  left: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.projects__link:hover:after {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.projects__link:active {
  color: var(--color-purple-2);
}

.projects__link:active:after {
  background: var(--color-purple-2);
  opacity: 1;
}

.projects__link:focus-visible {
  outline: none;
  background-color: var(--color-purple) ;
  color: var(--color-white);
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.projects__btn {
  background-color: transparent;
  display: inline;
  border: none;
  cursor: pointer;
  padding: 0;
  width: max-content;
  height: 18px;
  position: relative;
  top: 3px;
}

.tippy-box[data-theme~='colorToolp'] {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-radius: 0;
  padding: 5px;
}

.tippy-box[data-theme~='colorToolp'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-purple);
}

.projects__btn .project-svg,
.projects__btn .project-svgTwo,
.projects__btn .project-svgThree {
  border: 1px solid var(--color-purple-2);
  border-radius: 50%;
}

.project-svg-active,
.project-svgTwo-active,
.project-svgThree-active  {
  display: none;
  border: 1px solid var(--color-purple-2);
  border-radius: 50%;
}

.project-svg-disabled{
  display: none;
}

.project-svg-active-visible {
  display: block;
}

.projects__btn .path-color {
  transition: fill 0.2s ease-in-out;
}

.projects__btn .path-color:hover {
  fill: var(--color-purple-hover);
  transition: fill 0.2s ease-in-out;
}

.projects__btn:focus-visible {
  outline: none;
}

.projects__btn:focus-visible .path-color {
  fill: var(--color-purple-hover);
  transition: fill 0.2s ease-in-out;
}

.projects__btn .path-color:active {
  fill: var( --color-purple);
}

.projects__btn:active .project-svg .path-subcolor,
.projects__btn:active .project-svgTwo .path-subcolor,
.projects__btn:active .project-svgThree .path-subcolor { 
  fill: var(--color-white);
}

.swiper-projects {
  position: relative;
  width: 90.7%;
  margin: 0 auto;
}

.projects-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper-projects {
  padding: 4px 0;
}

.projects-slides {
  width: 450px;
  height: 150px;
  margin-right: 50px;
}

.projects-slide-3,
.projects-slide-6 {
  margin-right: 52px;
}

 .projects-partner-link {
  display: inline-block;
  border: 1px solid #CACACA;
  width: 100%;
  height: 98.7%;
} 

.projects-partner-img {
  width: 98%;
  height: 92%;
  filter: grayscale(1);
  opacity: .3;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  top: 12px;
  left: 7px;
} 

.img-2,
.img-3 {
  top: 8px;
}

.projects-slide-5 .projects-partner-img {
  top: 4px;
}

.projects-partner-img:hover{
  filter: grayscale(0);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.projects-partner-link:focus-visible {
  border-color: var(--color-purple-hover);
  outline:none;
}

.projects-partner-link:active,
.projects-partner-img:active {
  border-color: var(--color-purple-hover);
  filter: grayscale(0);
}

.swiper-button-projects-prev { 
  position: absolute;
  width: max-content;
  height: max-content;
  left: -5.2%;
  top: 40%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.swiper-button-projects-next {
  position: absolute;
  width: max-content;
  height: max-content;
  right: -5.3%;
  top: 39.5%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
} 

.swiper-button-projects-next svg,
.swiper-button-projects-prev svg {
  border: 2px solid transparent;
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev svg path 
.swiper-button-projects-next svg path {
  transition: fill 0.2s ease-in-out;
}

.swiper-button-projects-prev::after ,
.swiper-button-projects-next::after {
  content: "";
}

.swiper-button-projects-prev:focus-visible ,
.swiper-button-projects-next:focus-visible {
  outline: none;
}

.swiper-button-projects-prev:focus-visible svg,
.swiper-button-projects-next:focus-visible svg {
  outline: none;
  border-color: var(--color-purple);
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev:hover svg path,
.swiper-button-projects-next:hover svg path {
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}

.swiper-button-projects-next:active svg,
.swiper-button-projects-prev:active svg {
  border-color: var(--color-purple);
  border-radius: 100px;
  transition: border-color 0.2s ease-in-out;
}

.swiper-button-projects-prev:active svg path,
.swiper-button-projects-next:active svg path{
  outline: none;
  fill: #D1A9F0;
  transition: fill 0.2s ease-in-out;
}
