.about {
  margin-bottom: 100px;

  &__title {
    margin-left: 3px;
    margin-bottom: 20px;
  }

  & .text-width {
    width: 70%;
    margin-bottom: 48px;
  }

  &__bottom {
    display: flex;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(/images/aboutimg.webp), url(/images/aboutimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 81.5%;
    margin-right: 30px;
  }

  &__subleft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;

    & .about__text {
      width: 60%;
      margin-right: 30px;
    }
  }

  & .text-color {
    font-family: "Montserrat700";
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
  }

  &__btn {
    font-family: "Montserrat600";
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
    border: 3px solid var(--color-orange);
    background-color: transparent;
    align-self: center;
    padding: 17px 37px 17px 37px;
    transition: all .2s ease-in-out;

    &:active {
      background-color: var(--color-dark-orange);
      border-color: var(--color-dark-orange);
      transition-duration: .1s;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 81.5%;
  }

  &__consultion {
    display: flex;
    border: 1px solid #cacaca;
    padding: 64px 30px;
    margin-bottom: 30px;

    & img {
      display: block;
      margin-left: 30px;
    }
  }

  &__aspiration {
    display: flex;
    border: 1px solid #cacaca;
    padding: 64px 30px;

    & img {
      display: block;
      margin-left: 30px;
    }
  }

  &__descr {
    margin-left: 49px;
  }

  &__subtitle {
    font-family: "Montserrat700";
    font-size: 24px;
    line-height: 29px;
    color: var(--color-black);
    margin-bottom: 10px;
  }

  &__subtext {
    width: 88%;
  }
}

@media (max-width: 1390px) {
  .about {
    & .text-width {
      width: 100%;
    }

    &__bottom {
      flex-direction: column;
    }

    &__left {
      width: 100%;
      min-height: 640px;
      margin-right: 0;
      margin-bottom: 31px;
    }

    &__subleft {
      & .about__text {
        width: 100%;
        text-align: center;
      }
    }

    &__right {
      width: 100%;
    }

    &__consultion {
      margin: 0 0 30px 0;
    }
  }
}

@media (max-width: 1200px) {
  .about {
    margin-bottom: 80px;

    &__container {
      padding: 0 50px;
    }

    &__title {
      margin-left: 0;
      margin-bottom: 9px;
    }

    & .text-width {
      margin-bottom: 62px;
    }

    &__left {
      background-image: url(/images/aboutimg-1024.webp), url(/images/aboutimg-1024.png);
    }

    & .text-color {
      width: 59%;
      text-align: left;
    }

    &__consultion {
      & img {
        margin-left: 46px;
      }
    }

    &__aspiration {
      & img {
        margin-left: 46px;
      }
    }

    &__subtext {
      width: 82%;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__title {
      margin-bottom: 8px;
    }

    & .text-width {
      margin-bottom: 60px;
    }

    &__left {
      background-image: url(/images/aboutimg-768.webp), url(/images/aboutimg-768.png);
      min-height: 650px;
    }

    &__subleft {
      padding: 34px 39px;
    }

    & .text-color {
      width: 62%;
    }

    &__descr {
      margin-left: 16px;
    }

    &__consultion {
      padding: 34px 30px;
      margin-bottom: 32px;

      & img {
        margin-left: 9px;
        margin-top: 32px;
      }
    }

    &__aspiration {
      padding: 34px 30px;

      & img {
        margin-left: 9px;
        margin-top: 32px;
      }
    }

    &__subtitle {
      margin-bottom: 8px;
    }

    &__subtext {
      width: 90%;
    }
  }
}

@media (max-width: 660px) {
  .about {
    &__left {
      background-image: url(/images/aboutimg-320.webp), url(/images/aboutimg-320.png);
      background-size: contain;
      background-position: top left;
      min-height: 0;
      padding-top: 72%;
    }

    &__subleft {
      flex-direction: column;
      background-color: transparent;
      padding: 0;
    }

    & .text-color {
      font-family: "Montserrat400";
      color: var(--color-black);
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    &__btn {
      align-self: flex-start;
      color: var(--color-orange);
    }

    &__consultion {
      flex-direction: column;
      padding: 0;
      margin-bottom: 32px;
      border: none;

      & img {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    &__aspiration {
      flex-direction: column;
      padding: 0;
      border: none;

      & img {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    &__descr {
      margin-left: 0;
    }
  }
}

@media (max-width: 500px) {
  .about {
    margin-bottom: 60px;

    &__container {
      padding: 0 15px;
    }

    &__title {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 21px;
    }

    &__left {
      margin-bottom: 24px;
    }

    & .text-width {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 13px;
    }

    & .text-color {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-family: "Montserrat500";
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 3px;
    }

    &__subtext {
      font-size: 14px;
      line-height: 28px;
      width: 100%;
    }

    &__btn {
      font-size: 12px;
      line-height: 15px;
      padding: 10px 42px 10px 42px;
    }

    &__consultion {
      margin-bottom: 21px;

      & img {
        width: 64px;
        height: 49px;
      }
    }

    &__aspiration {
      & img {
        width: 64px;
        height: 62px;
        margin-bottom: 11px;
      }
    }
  }
}