.footer {
  background-color: #222222;
  padding: 50px 0;
  &__container {
    display: flex;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 22px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 19.4%;
  }
  &__list {
    margin-bottom: 90px;
    margin-left: -5px;
  }
  &__link {
    font-family: "Montserrat600";
    font-size: 18px;
    line-height: 36px;
    color: #cacaca;
    padding: 0 4px 1px 4px;
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
    &:active {
      transition-duration: .1s;
      color: var(--color-dark-orange);
    }
  }
  &__icons {
    display: flex;
    margin-top: -3px;
    margin-left: -5px;
  }
  &__icon {
    display: block;
    padding: 0 4px 1px 4px;
    border: 2px solid transparent;
    & svg path {
      transition: all .2s ease-in-out;
    }
    &:active {
      & svg path {
        transition-duration: .1s;
        fill: var(--color-dark-orange);
      }
    }
  }
  &__iconitem:not(:last-child) {
    margin-right: 13px;
  } 
  &__title {
    font-family: "Montserrat400";
    font-size: 48px;
    line-height: 59px;
    color: #cacaca;
    margin-bottom: 25px;
  }
  &__form {
    width: 32.2%;
    margin-right: 13.3%;
  }
  &__text {
    width: 100%;
    height: 60px;
    font-family: "Montserrat400";
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    background-color: #414141;
    margin-bottom: 26px;
    padding: 27px 25px 25px 25px;
    transition: all .2s ease-in-out;
    &::placeholder {
      font-family: "Montserrat400";
      font-size: 16px;
      line-height: 32px;
      color: #cacaca;
    }
    &:focus-visible {
      background-color: var(--color-gray);
    }
  }
  &__email {
    width: 100%;
    height: 60px;
    font-family: "Montserrat400";
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    background-color: #414141;
    margin-bottom: 26px;
    padding: 27px 25px 25px 25px;
    transition: all .2s ease-in-out;
    &::placeholder {
      font-family: "Montserrat400";
      font-size: 16px;
      line-height: 32px;
      color: #cacaca;
    }
    &:focus-visible {
      background-color: var(--color-gray);
    }
  }
  &__textarea {
    width: 100%;
    height: 60px;
    min-height: 150px;
    font-family: "Montserrat400";
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white);
    background-color: #414141;
    margin-bottom: 28px;
    padding: 14px 25px 25px 25px;
    transition: all .2s ease-in-out;
    &::placeholder {
      font-family: "Montserrat400";
      font-size: 16px;
      line-height: 32px;
      color: #cacaca;
    }
    &:focus-visible {
      background-color: var(--color-gray);
    }
  }
  &__checkbox {
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    opacity: 0;
    &:checked + span::after {
      opacity: 1;
    }
  }
  &__label {
    position: relative;
   & span {
     position: relative;
     top: 2px;
     font-family: "Montserrat400";
     font-size: 16px;
     line-height: 32px;
     padding-left: 17px;
     color: #cacaca;
     white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #cacaca;
      cursor: pointer;
    }
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 4px;
      height: 6px;
      border-right: 1px solid rgb(12, 207, 12);
      border-bottom: 1px solid rgb(12, 207, 12);
      transform: rotate(45deg);
      opacity: 0;
      transition: all .2s ease-in-out;
    }
   }
  }
  &__wrp {
    display: flex;
    align-items: center;
  }
  &__btn {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 52px 20px 52px;
    margin-right: 23px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    &:active {
      background-color: var(--color-dark-orange);
    }
  }
  &__svg320 {
    display: none;
  }
  &__right {
    width: 20%;
  }
  &__descr {
    font-family: "Montserrat400";
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
    padding-top: 89px;
  }
}

@media (max-width: 1481px) {
  .footer {
    &__right {
      display: none;
    }
    &__left {
      margin-right: 5%;
    }
    &__label {
      & span {
        white-space: break-spaces;
      }
    }
    &__form {
      width: 596px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &__container {
      padding: 0 50px;
    }
    &__left {
      margin-left: -2px;
    }
    &__form {
      width: 541px;
    }
    &__label {
      & span {
        top: 3px;
        &::before {
          top: 2px;
        }
        &::after {
          top: 5px;
        }
      }
    }
    &__btn {
      padding: 19px 38px 19px 38px;
      margin-right: 21px;
    }
  }
}

@media (max-width: 940px) {
  .footer {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      margin-bottom: 18px;
    }
    &__left {
      width: max-content;
      order: 2;
    }
    &__form {
      width: 100%;
      order: 1;
      margin-bottom: 49px;
    }
    &__list {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      align-items: flex-start;
    }
    &__form {
      width: 81%;
      margin-left: 0;
    }
    &__label {
      & span {
        white-space: nowrap;
      }
    }
    &__left {
      width: 100%;
    }
  }
}

@media (max-width: 625px) {
  .footer {
    &__container {
      align-items: center;
    }
    &__label {
      & span {
        white-space: normal;
      }
    }
    &__form {
      width: 100%;
    }
    &__btn {
      margin-right: 0;
      margin-bottom: 5px;
    }
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__left {
      width: max-content;
      margin-right: 0;
    }
    &__wrp {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 32px 0;
    &__container {
      padding: 0 15px;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 21px;
    }
    &__form {
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 2px solid #595959;
    }
    &__text {
      padding: 27px 25px 25px 20px;
      &::placeholder {
        font-size: 14px;
        line-height: 32px;
      }
    }
    &__email {
      padding: 27px 25px 25px 20px;
      &::placeholder {
        font-size: 14px;
        line-height: 32px;
      }
    }
    &__textarea {
      padding: 14px 25px 25px 20px;
      margin-bottom: 21px;
      &::placeholder {
        font-size: 14px;
        line-height: 32px;
      }
    }
    &__btn {
      font-size: 12px;
      line-height: 15px;
      padding: 12px 28px 12px 28px;
      margin-bottom: 9px;
    }
    &__icons {
      margin-left: 4px;
    }
    &__iconitem:not(:last-child) {
      margin-right: 4px;
    }
    &__svg {
      display: none;
    }
    &__svg320 {
      display: block;
    }
  }
}
