.header {
  padding: 14px 0;
  background-color: var(--color-white);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  margin-top: 3px;
  margin-right: 74px;
}

.header__link {
  position: relative;
  font-family: "Montserrat600";
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  padding: 1px 3px;
  border: 2px solid transparent;
}

.header__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 95%;
  height: 2px;
  background-color: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 75px;
}

.header__btn {
  padding: 1px 3px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-right: -3px;
}

.searchwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 539px;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--color-white);
  border-radius: 18px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.searchwrapper input {
  width: 412px;
  font-family: "Montserrat500";
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #dcdcdc;
  margin-left: 30px;
  padding-bottom: 5px;
  margin-right: 12px;
}

.searchwrapper input::-webkit-input-placeholder {
  font-family: "Montserrat500";
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
}

.searchwrapper input:-ms-input-placeholder {
  font-family: "Montserrat500";
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
}

.searchwrapper input::-ms-input-placeholder {
  font-family: "Montserrat500";
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
}

.searchwrapper input::placeholder {
  font-family: "Montserrat500";
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
}

.searchwrapper__exit {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 1px 3px;
}

.searchwrapper__search {
  background-color: transparent;
  margin-right: 12px;
  padding: 1px 3px;
  border: 2px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.searchwrapper__search svg path {
  stroke: var(--color-orange);
}

.searchwrapper__search svg rect {
  fill: var(--color-orange);
}

.search-active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
/*# sourceMappingURL=header.css.map */