 @font-face {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../../fonts/Gilroy-Regular.woff2") format("woff2")
 }

 @font-face {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url("../../fonts/Gilroy-Semibold.woff2") format("woff2")
 }

 @font-face {
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../../fonts/Gilroy-Bold.woff2") format("woff2")
 }

 @font-face {
   font-family: 'PlayfairDisplay';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../../fonts/PlayfairDisplay-Bold.woff2") format("woff2")
 }

 @font-face {
   font-family: 'KasteloSouthern';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../../fonts/KasteloSouthern-Regular.woff2") format("woff2")
 }

 @font-face {
   font-family: 'OpenSans';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../../fonts/OpenSans-Bold.woff2") format("woff2")
 }

 @font-face {
   font-family: 'Cormorant';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../../fonts/Cormorant-Bold.woff2") format("woff2")
 }